/*******ANIMS****/
@import url("//hello.myfonts.net/count/328ca1");
@-webkit-keyframes normalPulse {
  0%, 100% {
    -webkit-transform: scale(1); }
  66% {
    -webkit-transform: scale(1.04); } }

@-moz-keyframes normalPulse {
  0%, 100% {
    -moz-transform: scale(1); }
  66% {
    -moz-transform: scale(1.04); } }

@-o-keyframes normalPulse {
  0%, 100% {
    -o-transform: scale(1); }
  66% {
    -o-transform: scale(1.04); } }

@keyframes normalPulse {
  0%, 100% {
    transform: scale(1); }
  66% {
    transform: scale(1.04); } }

@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: scale(1) translateX(-50%); }
  66% {
    -webkit-transform: scale(1.04) translateX(-50%); } }

@-moz-keyframes pulse {
  0%, 100% {
    -moz-transform: scale(1) translateX(-50%); }
  66% {
    -moz-transform: scale(1.04) translateX(-50%); } }

@-o-keyframes pulse {
  0%, 100% {
    -o-transform: scale(1) translateX(-50%); }
  66% {
    -o-transform: scale(1.04) translateX(-50%); } }

@keyframes pulse {
  0%, 100% {
    transform: scale(1) translateX(-50%); }
  66% {
    transform: scale(1.04) translateX(-50%); } }

@-webkit-keyframes pulseX {
  0%, 100% {
    -webkit-transform: scale(1) translateX(-50%); }
  66% {
    -webkit-transform: scale(1.02) translateX(-50%); } }

@-moz-keyframes pulseX {
  0%, 100% {
    -moz-transform: scale(1) translateX(-50%); }
  66% {
    -moz-transform: scale(1.02) translateX(-50%); } }

@-o-keyframes pulseX {
  0%, 100% {
    -o-transform: scale(1) translateX(-50%); }
  66% {
    -o-transform: scale(1.02) translateX(-50%); } }

@keyframes pulseX {
  0%, 100% {
    transform: scale(1) translateX(-50%); }
  66% {
    transform: scale(1.02) translateX(-50%); } }

@-webkit-keyframes pulseY {
  0%, 100% {
    -webkit-transform: scale(1) translateY(-50%); }
  66% {
    -webkit-transform: scale(1.02) translateY(-50%); } }

@-moz-keyframes pulseY {
  0%, 100% {
    -moz-transform: scale(1) translateY(-50%); }
  66% {
    -moz-transform: scale(1.02) translateY(-50%); } }

@-o-keyframes pulseY {
  0%, 100% {
    -o-transform: scale(1) translateY(-50%); }
  66% {
    -o-transform: scale(1.02) translateY(-50%); } }

@keyframes pulseY {
  0%, 100% {
    transform: scale(1) translateY(-50%); }
  66% {
    transform: scale(1.02) translateY(-50%); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg); } }

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@font-face {
  font-family: 'MyFontBoldItalic';
  src: url("webfonts/328CA1_0_0.eot");
  src: url("webfonts/328CA1_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/328CA1_0_0.woff2") format("woff2"), url("webfonts/328CA1_0_0.woff") format("woff"), url("webfonts/328CA1_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MyFontBook';
  src: url("webfonts/328CA1_1_0.eot");
  src: url("webfonts/328CA1_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/328CA1_1_0.woff2") format("woff2"), url("webfonts/328CA1_1_0.woff") format("woff"), url("webfonts/328CA1_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MyFontBold';
  src: url("webfonts/328CA1_2_0.eot");
  src: url("webfonts/328CA1_2_0.eot?#iefix") format("embedded-opentype"), url("webfonts/328CA1_2_0.woff2") format("woff2"), url("webfonts/328CA1_2_0.woff") format("woff"), url("webfonts/328CA1_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MyFontBookItalic';
  src: url("webfonts/328CA1_3_0.eot");
  src: url("webfonts/328CA1_3_0.eot?#iefix") format("embedded-opentype"), url("webfonts/328CA1_3_0.woff2") format("woff2"), url("webfonts/328CA1_3_0.woff") format("woff"), url("webfonts/328CA1_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MyriadPro';
  src: url("webfonts/MYRIADWEBPRO.TTF") format("truetype"); }

@font-face {
  font-family: 'MyriadProItalic';
  src: url("webfonts/MYRIADWEBPRO-ITALIC.TTF") format("truetype"); }

@font-face {
  font-family: 'MyriadProCondItalic';
  src: url("webfonts/MYRIADWEBPRO-CONDENSEDIT.TTF") format("truetype"); }

@font-face {
  font-family: 'MyriadProCond';
  src: url("webfonts/MYRIADWEBPRO-CONDENSED.TTF") format("truetype"); }

@font-face {
  font-family: 'MyriadProBold';
  src: url("webfonts/MYRIADWEBPRO-BOLD.TTF") format("truetype"); }

body {
  padding-top: 0 !important; }

.reveal span.hidden {
  display: none; }

.reveal .contentPage h2 {
  color: #f78f35;
  font-family: MyFontBook, Arial;
  text-transform: none;
  font-size: 30px;
  text-align: left;
  margin-bottom: 30px;
  line-height: 1; }
  .reveal .contentPage h2 .blue {
    color: #004282;
    font-size: 40px; }

.reveal sub {
  font-size: 50% !important; }

.lightbox ol li.hidden {
  display: none; }

sup {
  font-size: 80% !important; }

h2 sup {
  font-size: 50% !important; }

nav {
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100; }
  nav .logoNav {
    display: block;
    float: left; }
    nav .logoNav a {
      width: 182px;
      height: 80px;
      display: block;
      background-image: url("img/logo_spiriva.jpg");
      background-size: cover;
      float: left;
      text-decoration: none; }
  nav .contentNav {
    max-width: 1100px;
    display: block;
    margin: auto; }
  nav ul {
    float: right;
    max-width: 1100px;
    margin: auto; }
    nav ul li {
      list-style: none;
      display: table-cell;
      font-family: MyFontBook, Arial;
      color: #004282;
      font-size: 14px;
      height: 80px;
      vertical-align: middle;
      padding: 0 10px; }
      nav ul li a {
        color: #004282;
        font-size: 14px;
        text-decoration: none; }

body .featherlight .featherlight-content {
  background-image: url("img/bgd_popin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 90%;
  padding: 65px 65px 0; }

.lightbox {
  display: none;
  font-family: MyFontBook, Arial;
  height: 80vh; }
  .lightbox h2 {
    color: #004282;
    font-family: MyFontBook, Arial;
    text-transform: none;
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1; }
    .lightbox h2 sup {
      font-size: 50%; }
    .lightbox h2 .orange {
      color: #f78f35;
      font-size: 30px; }
  .lightbox p {
    font-size: 16px;
    line-height: 1.3;
    color: #4d6070; }
    .lightbox p strong {
      font-family: MyFontBold, Arial; }
  .lightbox ol {
    margin-left: 0;
    padding-left: 15px; }
  .lightbox ol li {
    font-size: 16px;
    color: #4d6070;
    margin-bottom: 10px;
    line-height: 23px; }
  .lightbox ol li.hidden {
    display: none; }

.pathNav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  height: 100px;
  z-index: 10;
  background-image: url("img/arrow_pathnav.png");
  background-repeat: no-repeat;
  background-position: center top 55px; }
  .pathNav ul li {
    cursor: pointer; }

.circle-container {
  position: relative;
  /* 1 */
  width: 130px;
  height: 130px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* 2 */
  box-sizing: content-box;
  /* 3 */
  margin: 0;
  border: dashed 1px #ffffff; }
  .circle-container > * {
    /* 4 */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    margin: -6.5px; }
  .circle-container > :nth-of-type(1) {
    transform: rotate(-90deg) translate(66px) rotate(90deg); }
  .circle-container > :nth-of-type(2) {
    transform: rotate(-60deg) translate(66px) rotate(60deg); }
  .circle-container > :nth-of-type(3) {
    transform: rotate(-30deg) translate(66px) rotate(30deg); }
  .circle-container > :nth-of-type(4) {
    transform: rotate(0deg) translate(66px) rotate(0deg); }
  .circle-container > :nth-of-type(5) {
    transform: rotate(30deg) translate(66px) rotate(-30deg); }
  .circle-container > :nth-of-type(6) {
    transform: rotate(60deg) translate(66px) rotate(-60deg); }
  .circle-container > :nth-of-type(7) {
    transform: rotate(90deg) translate(66px) rotate(-90deg); }
  .circle-container > :nth-of-type(8) {
    transform: rotate(120deg) translate(66px) rotate(-120deg); }
  .circle-container > :nth-of-type(9) {
    transform: rotate(150deg) translate(66px) rotate(-150deg); }
  .circle-container > :nth-of-type(10) {
    transform: rotate(180deg) translate(66px) rotate(-180deg); }
  .circle-container > :nth-of-type(11) {
    transform: rotate(210deg) translate(66px) rotate(-210deg); }
  .circle-container > :nth-of-type(12) {
    transform: rotate(240deg) translate(66px) rotate(-240deg); }
  .circle-container li span {
    background-color: #ff9012;
    border: 2px solid #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box; }
  .circle-container li.active {
    height: 18px;
    width: 18px; }
    .circle-container li.active span {
      background-color: #ffffff;
      border: 4px solid #ff9012; }

.reveal section {
  height: 100%; }
  .reveal section .slideContent {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%; }
  .reveal section .contentPage {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%; }
  .reveal section img {
    border: none !important;
    background: none !important;
    box-shadow: none !important; }

.reveal .profilPage .bubbleContent {
  background-image: url(img/bgd_bubble.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 395px;
  height: 395px;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  display: table-cell;
  padding: 140px 100px 0 120px;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  left: 120px;
  top: 60px;
  font-family: MyFontBook, Arial; }
  .reveal .profilPage .bubbleContent.second {
    width: 285px;
    height: 285px;
    padding: 100px 50px 0 50px;
    top: 350px;
    left: 340px;
    z-index: 1; }

.lightbox .lightbox-button {
  width: initial; }
  .lightbox .lightbox-button button {
    width: initial;
    padding: 12px 30px; }

.reveal button, .reveal a.button, .lightbox button, .lightbox a.button {
  font-family: MyFontBook, Arial;
  font-size: 14px;
  color: #ffffff;
  display: block;
  background: #f0903b;
  background: -webkit-linear-gradient(legacy-direction(to right), #f0903b, #f0903b);
  background: linear-gradient(to right, #f0903b, #f0903b);
  border: 0;
  padding: 12px;
  position: relative;
  cursor: pointer;
  line-height: 100%;
  text-align: center; }
  .reveal button:after, .reveal a.button:after, .lightbox button:after, .lightbox a.button:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 9px;
    right: 10px;
    top: 0;
    background-image: url("img/icon_arrowButton.png");
    background-repeat: no-repeat;
    background-position: right center; }
  .reveal button:hover, .reveal a.button:hover, .lightbox button:hover, .lightbox a.button:hover {
    background: #ffa252;
    background: -webkit-linear-gradient(legacy-direction(to right), #ffa252, #e66b00);
    background: linear-gradient(to right, #ffa252, #e66b00);
    color: #ffffff; }

.bottomHome {
  display: block;
  position: fixed;
  bottom: -1970px;
  left: 0;
  width: 2796px;
  height: 3000px;
  z-index: 2;
  background-image: url(img/bottomHome.png?12345);
  background-repeat: no-repeat;
  background-position: center top;
  left: 50%;
  transform: translateX(-50%); }

.bgdBubble {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  background-color: #74d2dd;
  opacity: 0.1; }
  .bgdBubble.big {
    width: 1000px;
    height: 1000px;
    animation: pulseY 7s;
    -webkit-animation: pulseY 3s infinite;
    -moz-animation: pulseY 3s infinite;
    -o-animation: pulseY 3s infinite; }
  .bgdBubble.first {
    top: 45% !important;
    right: -50%;
    animation: pulseY 7s infinite;
    -webkit-animation: pulseY 3s infinite;
    -moz-animation: pulseY 3s infinite;
    -o-animation: pulseY 3s infinite; }
  .bgdBubble.second {
    top: 45% !important;
    right: -60%;
    animation: pulseY 7s infinite;
    -webkit-animation: pulseY 3s infinite;
    -moz-animation: pulseY 3s infinite;
    -o-animation: pulseY 3s infinite; }
  .bgdBubble.third {
    left: 50%;
    transform: translateX(-50%);
    top: initial;
    bottom: -100px; }
  .bgdBubble.fourth {
    right: -62px;
    top: 519px; }
  .bgdBubble.small {
    background-color: #f78f35;
    width: 65px;
    height: 65px;
    right: 200px;
    top: 643px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .bgdBubble {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    background-color: #74d2dd;
    opacity: 0.1; }
    .bgdBubble.big {
      width: 1000px;
      height: 1000px;
      animation: inherit; }
    .bgdBubble.first {
      top: -25% !important;
      right: -50%;
      aanimation: inherit; }
    .bgdBubble.second {
      top: -25% !important;
      right: -60%;
      animation: inherit; }
    .bgdBubble.third {
      left: 50%;
      transform: translateX(-50%);
      top: initial;
      bottom: -100px; }
    .bgdBubble.fourth {
      right: -62px;
      top: 519px; }
    .bgdBubble.small {
      background-color: #f78f35;
      width: 65px;
      height: 65px;
      right: 200px;
      top: 643px; } }

.halo1 {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  left: 290px;
  position: absolute;
  top: 55%;
  z-index: 1;
  display: block;
  background-color: #f0903b;
  opacity: 0.1;
  animation: pulse 7s infinite;
  -webkit-animation: pulse 3s infinite;
  -moz-animation: pulse 3s infinite;
  -o-animation: pulse 3s infinite; }

.halo2 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 59%;
  left: 340px;
  z-index: 1;
  display: block;
  background-color: #fff;
  opacity: 0.3;
  animation: pulse 7s infinite;
  -webkit-animation: pulse 3s infinite;
  -moz-animation: pulse 3s infinite;
  -o-animation: pulse 3s infinite; }

.reveal {
  /****HOME****/
  /**** QUIZ ***/
  /****PAGE HELP*****/
  /********/
  /********/
  /****PAGE HELP*****/ }
  .reveal .col {
    float: left; }
  .reveal #home_01 .slideContent {
    padding: 150px 322px 0;
    box-sizing: border-box; }
  .reveal #home_01 h2 {
    font-family: MyFontBook, Arial;
    text-transform: none;
    font-size: 43px;
    text-align: left;
    margin-bottom: 0;
    line-height: 1;
    margin-top: 40px;
    margin-bottom: 45px; }
    .reveal #home_01 h2 span {
      font-family: MyFontBook, Arial;
      font-size: 30px;
      font-weight: normal; }
  .reveal #home_01 button {
    margin-top: 10px;
    width: initial;
    margin: auto;
    padding-left: 15px;
    padding-right: 25px; }
  .reveal #home_01 .bubbleHome {
    z-index: 1;
    border: 0;
    margin: 15px 0px;
    background: none;
    box-shadow: none;
    float: left;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    max-width: inherit;
    width: 544px;
    height: 544px;
    max-height: inherit; }
    .reveal #home_01 .bubbleHome img {
      max-width: 100%; }
    .reveal #home_01 .bubbleHome .imgBubble {
      position: absolute;
      z-index: 4; }
    .reveal #home_01 .bubbleHome .imgProduct {
      position: absolute;
      z-index: 5;
      bottom: -100px;
      left: -150px; }
    .reveal #home_01 .bubbleHome .whiteBubble {
      width: 600px;
      height: 600px;
      display: block;
      background-image: url("img/whiteBubble.png");
      background-size: cover;
      position: absolute;
      left: -120px;
      bottom: -50px;
      animation: normalPulse 7s infinite;
      -webkit-animation: normalPulse 7s infinite;
      -moz-animation: normalPulse 7s infinite;
      -o-animation: normalPulse 7s infinite; }
      .reveal #home_01 .bubbleHome .whiteBubble.second {
        width: 585px;
        height: 585px;
        left: 0px;
        bottom: -40px; }
  .reveal #quiz_02 .hidden {
    display: none !important; }
  .reveal #quiz_02 h2 {
    margin-bottom: 20px;
    margin-top: 60px; }
  .reveal #quiz_02 p {
    font-size: 14px;
    color: #4d6070;
    margin-top: 0;
    text-align: left; }
  .reveal #quiz_02 .contentCircle {
    position: relative;
    display: inline-block;
    margin-right: 70px;
    margin-top: 20px; }
    .reveal #quiz_02 .contentCircle:last-child {
      margin-right: 0; }
    .reveal #quiz_02 .contentCircle h3 {
      font-size: 18px;
      text-align: center;
      text-transform: none;
      color: #4d6070;
      font-weight: normal;
      margin-top: 15px; }
  .reveal #quiz_02 .jsSeeData, .reveal #quiz_02 .jsSeeVisual {
    cursor: pointer; }
  .reveal #quiz_02 .jsSeeData.hidden {
    display: none; }
  .reveal #quiz_02 .jsSeeData.active {
    display: block; }
  .reveal #quiz_02 .falseAnswer {
    top: -18px;
    position: absolute;
    color: #f1a8b7;
    font-size: 12px;
    z-index: 2;
    font-family: MyFontBook, Arial; }
    .reveal #quiz_02 .falseAnswer div {
      background-image: url("img/icon_false.png");
      background-size: cover;
      background-repeat: no-repeat;
      bottom: -14px;
      background-color: #f1a8b7;
      width: 16px;
      border-radius: 25px;
      height: 16px;
      position: absolute;
      color: #ffffff;
      text-align: center; }
  .reveal #quiz_02 .circle {
    width: 250px;
    height: 250px;
    background: url(img/lung/step1_0.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100; }
    .reveal #quiz_02 .circle .lung {
      width: 250px;
      height: 250px;
      display: block;
      position: absolute;
      opacity: 0;
      background-size: cover;
      background-position: center; }
  .reveal #quiz_02 #contentLung1 .circle {
    background-image: url(img/lung/step2_8-9.jpg); }
  .reveal #quiz_02 #contentLung2 .circle {
    background-image: url(img/lung/step3_28-5.jpg); }
  .reveal #quiz_02 #contentLung3 .circle {
    background-image: url(img/lung/step7_51.jpg); }
  .reveal #quiz_02 .circle .lung.step1 {
    background-image: url(img/lung/step1_0.jpg);
    z-index: 2;
    opacity: 1; }
  .reveal #quiz_02 .step2 {
    background: url(img/lung/step2_8-9.jpg);
    z-index: 3; }
  .reveal #quiz_02 .step3 {
    background: url(img/lung/step3_28-5.jpg);
    z-index: 4; }
  .reveal #quiz_02 .step4 {
    background: url(img/lung/step5_40.jpg);
    z-index: 5; }
  .reveal #quiz_02 .step5 {
    background: url(img/lung/step7_51.jpg);
    z-index: 7; }
  .reveal #quiz_02 .step6 {
    background: url(img/lung/step8_60.jpg);
    z-index: 8; }
  .reveal #quiz_02 .step7 {
    background: url(img/lung/step9_70.jpg);
    z-index: 9; }
  .reveal #quiz_02 .step8 {
    background: url(img/lung/step10_80.jpg);
    z-index: 10; }
  .reveal #quiz_02 .step9 {
    background: url(img/lung/step11_90.jpg);
    z-index: 11; }
  .reveal #quiz_02 .step10 {
    background: url(img/lung/step12_100.jpg);
    z-index: 12; }
  .reveal #quiz_02 .contentCircle.seeAnswer .slider .ui-widget-header {
    background-color: #5dd0b0; }
  .reveal #quiz_02 .contentCircle.seeAnswer .slider .ui-state-default {
    background-color: #5dd0b0; }
  .reveal #quiz_02 .slider {
    width: 250px;
    font-size: 10px;
    margin: 60px auto 0;
    background: #d4f0f4; }
    .reveal #quiz_02 .slider.ui-slider-disabled {
      opacity: 1; }
    .reveal #quiz_02 .slider .ui-widget-header {
      background: #72d1dd;
      border-radius: 20px; }
    .reveal #quiz_02 .slider .ui-state-default {
      background: #72d1dd;
      border: none;
      border-radius: 100%;
      width: 0em;
      height: 0em; }
      .reveal #quiz_02 .slider .ui-state-default .cursor {
        display: table-cell;
        position: absolute;
        width: 42px;
        height: 49px;
        background-image: url("../images/master/cursor_slider.png");
        background-repeat: no-repeat;
        top: -55px;
        left: -15px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        box-sizing: border-box;
        padding-top: 12px; }
      .reveal #quiz_02 .slider .ui-state-default .cursorGreen {
        background-image: url("../images/master/cursor_slider_green.png?123456"); }
    .reveal #quiz_02 .slider .startPourcentage {
      position: absolute;
      top: -15px;
      left: 0; }
    .reveal #quiz_02 .slider .endPourcentage {
      position: absolute;
      top: -15px;
      right: -15px; }
  .reveal #quiz_02 .circleProgress {
    position: absolute;
    top: -5px;
    left: -5px;
    clip: rect(0, 135px, 260px, 0);
    width: 260px;
    height: 260px;
    transform: rotate(180deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-0 .bar {
      transform: rotate(180deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-1 .bar {
      transform: rotate(183.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-2 .bar {
      transform: rotate(187.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-3 .bar {
      transform: rotate(190.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-4 .bar {
      transform: rotate(194.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-5 .bar {
      transform: rotate(198deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-6 .bar {
      transform: rotate(201.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-7 .bar {
      transform: rotate(205.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-8 .bar {
      transform: rotate(208.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-9 .bar {
      transform: rotate(212.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-10 .bar {
      transform: rotate(216deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-11 .bar {
      transform: rotate(219.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-12 .bar {
      transform: rotate(223.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-13 .bar {
      transform: rotate(226.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-14 .bar {
      transform: rotate(230.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-15 .bar {
      transform: rotate(234deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-16 .bar {
      transform: rotate(237.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-17 .bar {
      transform: rotate(241.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-18 .bar {
      transform: rotate(244.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-19 .bar {
      transform: rotate(248.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-20 .bar {
      transform: rotate(252deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-21 .bar {
      transform: rotate(255.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-22 .bar {
      transform: rotate(259.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-23 .bar {
      transform: rotate(262.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-24 .bar {
      transform: rotate(266.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-25 .bar {
      transform: rotate(270deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-26 .bar {
      transform: rotate(273.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-27 .bar {
      transform: rotate(277.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-28 .bar {
      transform: rotate(280.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-29 .bar {
      transform: rotate(284.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-30 .bar {
      transform: rotate(288deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-31 .bar {
      transform: rotate(291.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-32 .bar {
      transform: rotate(295.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-33 .bar {
      transform: rotate(298.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-34 .bar {
      transform: rotate(302.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-35 .bar {
      transform: rotate(306deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-36 .bar {
      transform: rotate(309.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-37 .bar {
      transform: rotate(313.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-38 .bar {
      transform: rotate(316.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-39 .bar {
      transform: rotate(320.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-40 .bar {
      transform: rotate(324deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-41 .bar {
      transform: rotate(327.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-42 .bar {
      transform: rotate(331.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-43 .bar {
      transform: rotate(334.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-44 .bar {
      transform: rotate(338.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-45 .bar {
      transform: rotate(342deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-46 .bar {
      transform: rotate(345.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-47 .bar {
      transform: rotate(349.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-48 .bar {
      transform: rotate(352.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-49 .bar {
      transform: rotate(356.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-50 .bar {
      transform: rotate(360deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-51 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-51 .bar {
      transform: rotate(363.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-51 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-52 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-52 .bar {
      transform: rotate(367.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-52 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-53 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-53 .bar {
      transform: rotate(370.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-53 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-54 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-54 .bar {
      transform: rotate(374.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-54 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-55 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-55 .bar {
      transform: rotate(378deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-55 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-56 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-56 .bar {
      transform: rotate(381.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-56 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-57 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-57 .bar {
      transform: rotate(385.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-57 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-58 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-58 .bar {
      transform: rotate(388.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-58 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-59 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-59 .bar {
      transform: rotate(392.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-59 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-60 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-60 .bar {
      transform: rotate(396deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-60 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-61 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-61 .bar {
      transform: rotate(399.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-61 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-62 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-62 .bar {
      transform: rotate(403.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-62 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-63 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-63 .bar {
      transform: rotate(406.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-63 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-64 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-64 .bar {
      transform: rotate(410.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-64 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-65 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-65 .bar {
      transform: rotate(414deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-65 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-66 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-66 .bar {
      transform: rotate(417.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-66 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-67 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-67 .bar {
      transform: rotate(421.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-67 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-68 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-68 .bar {
      transform: rotate(424.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-68 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-69 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-69 .bar {
      transform: rotate(428.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-69 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-70 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-70 .bar {
      transform: rotate(432deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-70 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-71 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-71 .bar {
      transform: rotate(435.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-71 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-72 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-72 .bar {
      transform: rotate(439.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-72 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-73 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-73 .bar {
      transform: rotate(442.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-73 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-74 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-74 .bar {
      transform: rotate(446.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-74 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-75 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-75 .bar {
      transform: rotate(450deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-75 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-76 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-76 .bar {
      transform: rotate(453.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-76 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-77 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-77 .bar {
      transform: rotate(457.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-77 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-78 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-78 .bar {
      transform: rotate(460.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-78 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-79 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-79 .bar {
      transform: rotate(464.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-79 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-80 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-80 .bar {
      transform: rotate(468deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-80 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-81 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-81 .bar {
      transform: rotate(471.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-81 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-82 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-82 .bar {
      transform: rotate(475.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-82 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-83 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-83 .bar {
      transform: rotate(478.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-83 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-84 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-84 .bar {
      transform: rotate(482.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-84 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-85 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-85 .bar {
      transform: rotate(486deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-85 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-86 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-86 .bar {
      transform: rotate(489.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-86 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-87 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-87 .bar {
      transform: rotate(493.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-87 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-88 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-88 .bar {
      transform: rotate(496.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-88 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-89 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-89 .bar {
      transform: rotate(500.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-89 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-90 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-90 .bar {
      transform: rotate(504deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-90 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-91 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-91 .bar {
      transform: rotate(507.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-91 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-92 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-92 .bar {
      transform: rotate(511.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-92 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-93 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-93 .bar {
      transform: rotate(514.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-93 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-94 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-94 .bar {
      transform: rotate(518.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-94 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-95 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-95 .bar {
      transform: rotate(522deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-95 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-96 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-96 .bar {
      transform: rotate(525.6deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-96 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-97 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-97 .bar {
      transform: rotate(529.2deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-97 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-98 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-98 .bar {
      transform: rotate(532.8deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-98 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-99 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-99 .bar {
      transform: rotate(536.4deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-99 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-100 {
      clip: rect(0, 260px, 260px, 0); }
    .reveal #quiz_02 .circleProgress.pourcentage-100 .bar {
      transform: rotate(540deg); }
    .reveal #quiz_02 .circleProgress.pourcentage-100 .fill {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, 135px, 260px, 0);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #7cd4df;
      transform: rotate(0deg); }
  .reveal #quiz_02 .bar {
    position: absolute;
    top: 0px;
    left: 0px;
    clip: rect(0, 125px, 260px, 0);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #7cd4df;
    transform: rotate(0deg); }
  .reveal #quiz_02 .twoCol {
    width: 100%;
    display: block;
    float: left; }
    .reveal #quiz_02 .twoCol .col {
      width: 50%;
      display: block;
      float: left; }
      .reveal #quiz_02 .twoCol .col p.small {
        font-size: 12px; }
        .reveal #quiz_02 .twoCol .col p.small sup {
          font-size: 100% !important; }
      .reveal #quiz_02 .twoCol .col a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        float: right;
        margin-right: 15px;
        padding: 10px 25px 10px 20px;
        background: #7cd4df; }
        .reveal #quiz_02 .twoCol .col a:hover {
          background: #7cd4df;
          background: -webkit-linear-gradient(legacy-direction(to left), #7cd4df, #aae7ef);
          background: linear-gradient(to left, #7cd4df, #aae7ef);
          text-decoration: none; }
        .reveal #quiz_02 .twoCol .col a:after {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 9px;
          right: 10px;
          top: 0;
          background-image: url(img/icon_arrowButton.png);
          background-repeat: no-repeat;
          background-position: right center; }
      .reveal #quiz_02 .twoCol .col button {
        width: initial;
        padding-right: 25px;
        float: right; }
  .reveal #quiz_02 #answer {
    /**display: none;
            opacity: 0;**/ }
  .reveal .helpPage .col {
    width: 50%;
    padding-top: 85px;
    float: left;
    box-sizing: border-box; }
    .reveal .helpPage .col:first-child {
      width: 55%; }
    .reveal .helpPage .col:last-child {
      width: 45%;
      padding-left: 20px; }
    .reveal .helpPage .col .helpProfil {
      width: 100%;
      min-height: 180px;
      display: block;
      background-repeat: no-repeat;
      font-size: 13px;
      box-sizing: border-box;
      cursor: pointer; }
      .reveal .helpPage .col .helpProfil button span {
        display: none; }
      .reveal .helpPage .col .helpProfil.first {
        background-image: url("img/bgdKaren.png");
        top: 270px;
        padding: 12px 0px 0 132px;
        text-align: right;
        margin-bottom: 20px; }
      .reveal .helpPage .col .helpProfil.second {
        background-image: url("img/bgdJulia.png");
        right: 0;
        padding: 12px 0px 0 132px;
        text-align: right;
        top: 40px; }
      .reveal .helpPage .col .helpProfil .quote {
        background-image: url("img/quoteBgd.png");
        background-repeat: no-repeat;
        background-position: right top;
        color: #373a4b;
        font-size: 16px;
        padding-top: 35px; }
        .reveal .helpPage .col .helpProfil .quote p {
          margin-bottom: 5px;
          text-align: right; }
          .reveal .helpPage .col .helpProfil .quote p.bottom {
            font-size: 12px; }
            .reveal .helpPage .col .helpProfil .quote p.bottom strong {
              font-size: 14px; }
    .reveal .helpPage .col button.absolute {
      position: absolute;
      bottom: 150px;
      right: 0;
      width: initial;
      font-size: 16px;
      padding-right: 25px; }
  .reveal .helpPage h2 {
    color: #f78f35;
    font-family: MyFontBook, Arial;
    text-transform: none;
    font-size: 30px;
    text-align: left;
    margin-bottom: 15px;
    line-height: 1; }
    .reveal .helpPage h2 .blue {
      color: #004282;
      font-size: 38px; }
  .reveal .helpPage p {
    font-family: MyFontBook, Arial;
    color: #4d6070;
    font-size: 14px;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 0; }
    .reveal .helpPage p sup {
      font-size: 65%; }
    .reveal .helpPage p.small {
      font-size: 12px; }
  .reveal .helpPage img {
    width: 100%;
    margin: 0; }
  .reveal .helpPage .halo1 {
    left: 540px;
    top: 40%; }
  .reveal .helpPage .halo2 {
    left: 590px;
    top: 12%; }
  .reveal .helpPage#exacerbations_04 img {
    width: 100%;
    margin-top: -70px; }
  .reveal .helpPage#exacerbations_04 .helpProfil.first {
    background-image: url("img/bgdJames.png"); }
  .reveal .helpPage#exacerbations_04 .helpProfil.second {
    background-image: url("img/bgdSam.png"); }
  .reveal #stay-ahead_05 .col {
    width: 50%;
    padding-top: 30px;
    float: left;
    text-align: left; }
    .reveal #stay-ahead_05 .col .product_img_shadow {
      position: absolute;
      bottom: 211px;
      left: 63px; }
  .reveal #stay-ahead_05 h2 {
    color: #f78f35;
    font-family: MyFontBook, Arial;
    text-transform: none;
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 55px;
    line-height: 1; }
    .reveal #stay-ahead_05 h2 .blue {
      color: #004282;
      font-size: 40px; }
  .reveal #stay-ahead_05 ul {
    display: table;
    margin-left: 0; }
    .reveal #stay-ahead_05 ul li {
      font-size: 13px;
      text-decoration: none;
      color: #4d6070;
      font-family: MyFontBook, Arial;
      list-style: none;
      margin-bottom: 25px;
      height: 50px;
      vertical-align: middle;
      width: 100%;
      position: relative;
      display: table-row;
      vertical-align: middle; }
      .reveal #stay-ahead_05 ul li span {
        display: table-cell;
        vertical-align: middle;
        padding-left: 65px;
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: left center;
        padding-top: 20px;
        padding-bottom: 20px; }
      .reveal #stay-ahead_05 ul li.clock span {
        background-image: url("img/icon_clock.png"); }
      .reveal #stay-ahead_05 ul li.cross span {
        background-image: url("img/icon_cross.png"); }
      .reveal #stay-ahead_05 ul li.hand span {
        background-image: url("img/icon_hand.png"); }
      .reveal #stay-ahead_05 ul li.poumons span {
        background-image: url("img/icon_poumons.png"); }
      .reveal #stay-ahead_05 ul li.door span {
        background-image: url("img/icon_door.png"); }
      .reveal #stay-ahead_05 ul li.cloud span {
        background-image: url("img/icon_cloud.png"); }
  .reveal #stay-ahead_05 p {
    font-size: 16px;
    margin-bottom: 40px; }
    .reveal #stay-ahead_05 p strong {
      font-weight: normal;
      color: #ff9012; }
  .reveal #stay-ahead_05 button {
    width: 290px;
    padding-right: 25px; }
  .reveal #stay-ahead_05 .bgdBubble.first {
    right: -45%; }
  .reveal #stay-ahead_05 .bgdBubble.second {
    top: 45%;
    right: -50%; }
  .reveal #how-to-use_06 .col {
    float: left; }
  .reveal #how-to-use_06 .left-side {
    width: 530px; }
    .reveal #how-to-use_06 .left-side .joiner-point {
      position: absolute;
      left: 270px;
      width: 4px;
      height: 3px;
      top: 640px; }
    .reveal #how-to-use_06 .left-side .radial-inner {
      width: 424px;
      height: 424px;
      border-radius: 204px;
      top: 137px;
      left: 51px;
      border: 1px dashed #72d1dd;
      position: absolute;
      z-index: 0; }
    .reveal #how-to-use_06 .left-side .radial-background {
      background: rgba(246, 252, 252, 0.5);
      width: 470px;
      height: 470px;
      border-radius: 239px;
      top: 115px;
      left: 29px;
      position: absolute;
      z-index: -1; }
    .reveal #how-to-use_06 .left-side .radial-slide-block {
      width: 470px;
      height: 470px;
      margin-top: 3em;
      border-radius: 7em;
      margin-left: 0; }
      .reveal #how-to-use_06 .left-side .radial-slide-block .use-element {
        list-style: none;
        position: absolute;
        z-index: 3;
        width: 110px;
        height: 110px;
        background-color: #c2eaf0;
        cursor: pointer;
        border-radius: 54px;
        -webkit-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
        -moz-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
        -o-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
        transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s; }
        .reveal #how-to-use_06 .left-side .radial-slide-block .use-element .number {
          left: 97px;
          position: absolute;
          background-color: #72d1dd;
          border-radius: 23px;
          padding: 5px 9px 5px;
          font-size: 10px;
          top: -18px;
          transition: left 1.2s, top 1.2s, font-size 1.2s, padding 1.2s; }
        .reveal #how-to-use_06 .left-side .radial-slide-block .use-element .slide-info {
          opacity: 0;
          display: none;
          width: 371px;
          margin-left: 237px;
          padding-top: 10px;
          top: 0; }
          .reveal #how-to-use_06 .left-side .radial-slide-block .use-element .slide-info p:first-child {
            font-size: 24px;
            color: #72d1dd;
            font-weight: bold;
            margin-bottom: 5px; }
          .reveal #how-to-use_06 .left-side .radial-slide-block .use-element .slide-info p:nth-child(2) {
            color: #f0903b;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 0; }
          .reveal #how-to-use_06 .left-side .radial-slide-block .use-element .slide-info p:last-child {
            font-size: 14px;
            color: #4d6070;
            margin-bottom: 0;
            margin-top: 0; }
        .reveal #how-to-use_06 .left-side .radial-slide-block .use-element.zoom-in {
          width: 220px;
          height: 220px;
          -webkit-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
          -moz-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
          -o-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
          transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s; }
        .reveal #how-to-use_06 .left-side .radial-slide-block .use-element.zoom-in .number {
          top: 6px;
          left: 197px;
          transition: left 1.2s, top 1.2s, font-size 1.2s, padding 1.2s;
          padding: 6px 14px 5px;
          font-size: 20px; }
        .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#turn {
          margin-left: 415px;
          margin-top: 175px;
          background: url(img/turn.png?123) left top no-repeat;
          background-size: contain; }
          .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#turn.zoom-in {
            margin-left: 302px;
            margin-top: 140px; }
        .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#open {
          margin-left: 185px;
          margin-top: -41px;
          background: url(img/open.png) left top no-repeat;
          background-size: contain; }
          .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#open.zoom-in {
            margin-left: 133px;
            margin-top: -72px; }
        .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#press {
          margin-top: 185px;
          margin-left: -50px;
          background: url(img/press.png) left top no-repeat;
          background-size: contain; }
          .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#press.zoom-in {
            margin-top: 123px;
            margin-left: -56px; }
        .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#repeat {
          background: url(img/repeat.png) left top no-repeat;
          background-size: contain;
          margin-top: 413px;
          margin-left: 185px; }
          .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#repeat.zoom-in {
            margin-top: 312px;
            margin-left: 126px; }
  .reveal #how-to-use_06 .right-side {
    width: 424px;
    box-sizing: border-box;
    padding-left: 42px; }
    .reveal #how-to-use_06 .right-side h2 {
      color: #f78f35;
      font-family: MyFontBook, Arial;
      text-transform: none;
      font-size: 26px;
      text-align: left;
      margin-bottom: 50px;
      margin-top: 80px;
      line-height: 1; }
      .reveal #how-to-use_06 .right-side h2.blue {
        color: #004282;
        font-size: 40px;
        margin-top: 0; }
    .reveal #how-to-use_06 .right-side p {
      color: #4d6070;
      font-size: 14px;
      text-align: left; }
    .reveal #how-to-use_06 .right-side button {
      margin-top: 18em;
      width: 140px; }
  .reveal #learn-more_06 .contentPage {
    padding-top: 60px; }
  .reveal #learn-more_06 .questions {
    width: 960px;
    margin: auto; }
    .reveal #learn-more_06 .questions h3 {
      color: #4d6070;
      font-size: 18px;
      text-transform: none;
      text-align: center;
      margin-bottom: 0; }
    .reveal #learn-more_06 .questions .col {
      border-bottom: 1px dashed #a5e3eb;
      margin-top: 10px;
      box-sizing: border-box;
      padding: 10px 20px 20px;
      display: block;
      float: left;
      text-align: left; }
      .reveal #learn-more_06 .questions .col:first-child {
        width: 313px; }
      .reveal #learn-more_06 .questions .col:last-child {
        margin-left: 40px;
        width: 605px; }
  .reveal #learn-more_06 #bubbleBlock {
    clear: left;
    margin-top: 4em; }
    .reveal #learn-more_06 #bubbleBlock button.noHover:hover {
      background: initial;
      background: #f0903b;
      background: -webkit-linear-gradient(legacy-direction(to right), #f0903b, #f0903b);
      background: linear-gradient(to right, #f0903b, #f0903b); }
    .reveal #learn-more_06 #bubbleBlock .firstBubble {
      width: 343px;
      height: 334px;
      position: relative; }
      .reveal #learn-more_06 #bubbleBlock .firstBubble a {
        display: block;
        position: absolute;
        width: 310px;
        height: 310px;
        border-radius: 160px;
        z-index: 2; }
        .reveal #learn-more_06 #bubbleBlock .firstBubble a span {
          font-family: MyFontBook, Arial;
          color: #fff;
          position: absolute;
          font-size: 14px;
          top: 221px;
          z-index: 100;
          left: 96px; }
      .reveal #learn-more_06 #bubbleBlock .firstBubble img {
        position: absolute;
        left: 0;
        bottom: 0px;
        display: block;
        /* height: 386px; */
        width: 375px;
        max-width: none; }
    .reveal #learn-more_06 #bubbleBlock .secondBubble {
      width: 305px;
      height: 305px;
      border-radius: 159px;
      position: relative;
      overflow: hidden;
      background: url("img/bubble-bg2.png") center center no-repeat; }
      .reveal #learn-more_06 #bubbleBlock .secondBubble button, .reveal #learn-more_06 #bubbleBlock .secondBubble a {
        display: block;
        position: absolute;
        cursor: pointer; }
      .reveal #learn-more_06 #bubbleBlock .secondBubble .jamesButton {
        width: initial;
        margin-top: 103px;
        margin-left: 80px;
        padding-left: 15px;
        padding-right: 25px;
        opacity: 0.95; }
      .reveal #learn-more_06 #bubbleBlock .secondBubble .karenButton {
        width: initial;
        margin-top: 227px;
        margin-left: 91px;
        z-index: 3;
        text-align: left;
        opacity: 0.95;
        padding-left: 15px;
        padding-right: 25px; }
      .reveal #learn-more_06 #bubbleBlock .secondBubble .jamesImage {
        left: -34px;
        top: 40px;
        z-index: 2; }
      .reveal #learn-more_06 #bubbleBlock .secondBubble .karenImage {
        margin-left: 147px;
        margin-top: 147px;
        z-index: 4;
        width: 182px; }
    .reveal #learn-more_06 #bubbleBlock .thirdBubble {
      width: 305px;
      height: 305px;
      border-radius: 159px;
      position: relative;
      overflow: hidden;
      background: url("img/bubble-bg2.png") center center no-repeat; }
      .reveal #learn-more_06 #bubbleBlock .thirdBubble button, .reveal #learn-more_06 #bubbleBlock .thirdBubble a {
        display: block;
        position: absolute;
        cursor: pointer; }
      .reveal #learn-more_06 #bubbleBlock .thirdBubble .juliaButton {
        width: initial;
        margin-top: 220px;
        margin-left: 120px;
        z-index: 1;
        opacity: 0.95;
        padding-left: 15px;
        padding-right: 25px; }
      .reveal #learn-more_06 #bubbleBlock .thirdBubble .samButton {
        width: initial;
        margin-top: 103px;
        margin-left: 135px;
        padding-left: 15px;
        padding-right: 25px;
        z-index: 0;
        opacity: 0.95; }
      .reveal #learn-more_06 #bubbleBlock .thirdBubble .juliaImage {
        left: 34px;
        top: 148px;
        z-index: 4; }
      .reveal #learn-more_06 #bubbleBlock .thirdBubble .samImage {
        margin-left: 136px;
        margin-top: 49px;
        z-index: 1;
        width: 200px; }
    .reveal #learn-more_06 #bubbleBlock .col {
      float: left; }
  .reveal #learn-more_06 h2 {
    color: #f78f35;
    font-family: MyFontBook, Arial;
    text-transform: none;
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
    line-height: 1; }
    .reveal #learn-more_06 h2 sup {
      font-size: 50%; }
    .reveal #learn-more_06 h2 .blue {
      color: #004282;
      font-size: 40px; }
  .reveal #learn-more_06 a.go {
    position: absolute;
    right: -13px;
    top: 50%;
    width: 27px;
    height: 27px;
    background-image: url("img/conclusion_icon.png");
    background-repeat: no-repeat;
    z-index: 10; }
  .reveal #learn-more_06 .product {
    position: absolute;
    top: -30px;
    left: 100px; }
  .reveal #learn-more_06 .spc {
    position: absolute;
    top: 130px;
    left: 90px; }
  .reveal .backgrounds {
    background: #c5e7ef;
    background: -webkit-linear-gradient(legacy-direction(to left), #c5e7ef, #ffffff);
    background: linear-gradient(to left, #c5e7ef, #ffffff); }

#prescribingPopin a {
  width: 200px;
  text-decoration: none; }

.featherlight .engGlo-only, .featherlight .ersOnly {
  display: none; }

.reveal .engUk-only, .reveal .ersOnly {
  display: none; }

.reveal p.ersOnly {
  font-size: 11px;
  position: absolute;
  color: #72d1dd;
  text-align: left; }

.text-ersOnly {
  display: none; }

.lightbox ol li.list.ersOnly {
  display: none; }

.hide-onlyfor-ers {
  display: none; }

body.i18n-ers-eu .hide-onlyfor-ers {
  display: block; }

body.i18n-ers-eu .text-ersOnly {
  font-size: 11px;
  display: block; }

body.i18n-ers-eu .hiden-on-answer {
  display: none !important; }

body.i18n-ers-eu .lightbox ol li.ersOnly {
  display: list-item; }

body.i18n-ers-eu .reveal #exacerbations_04 .scrollY {
  height: 400px;
  padding-right: 15px;
  margin-right: 15px; }

body.i18n-ers-eu .ersOnly {
  display: block; }

body.i18n-ers-eu .ersNot {
  display: none; }

body.i18n-ers-eu nav ul li a, body.i18n-ers-eu nav ul li a.active {
  color: #004282; }

body.i18n-ers-eu ul li.leaf {
  padding-right: 1.5em; }

body.i18n-ers-eu .reveal #quiz_02 .contentCircle {
  margin-right: 20px; }
  body.i18n-ers-eu .reveal #quiz_02 .contentCircle .circle {
    width: 200px;
    height: 200px; }

body.i18n-ers-eu .reveal #quiz_02 #contentLung1 .circle {
  background-image: url("img/ers-eu/lung-step1.jpg"); }

body.i18n-ers-eu .reveal #quiz_02 #contentLung2 .circle {
  background-image: url("img/ers-eu/lung-step2.jpg"); }

body.i18n-ers-eu .reveal #quiz_02 #contentLung3 .circle {
  background-image: url("img/ers-eu/lung-step3.jpg"); }

body.i18n-ers-eu .reveal #quiz_02 #contentLung4 .circle {
  background-image: url("img/ers-eu/lung-step4.jpg"); }

body.i18n-ers-eu .reveal #quiz_02 .twoCol .col {
  width: 60%; }
  body.i18n-ers-eu .reveal #quiz_02 .twoCol .col.buttonSet2 {
    width: 40%; }

body.i18n-ers-eu .reveal .helpPage img {
  width: 80%; }

body.i18n-ers-eu .reveal .helpPage#exacerbations_04 img {
  width: 80%;
  margin-top: 0; }

body.i18n-ers-eu .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#turn {
  background: url("img/ers-eu/turn.png?12") left top no-repeat;
  background-size: contain; }

body.i18n-ers-eu .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#open {
  background: url("img/ers-eu/open.png?12") left top no-repeat;
  background-size: contain; }

body.i18n-ers-eu .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#repeat {
  background: url("img/ers-eu/repeat.png?12") left top no-repeat;
  background-size: contain; }

body.i18n-ers-eu .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#press {
  background: url("img/ers-eu/press.png?12") left top no-repeat;
  background-size: contain; }

body.i18n-ers-eu .reveal #learn-more_06 p.ersOnly {
  bottom: -40px; }

body.i18n-ger-de {
  /*.reveal .contentPage h2 .blue {font-size: 20px;}*/ }
  body.i18n-ger-de .reveal .helpPage#exacerbations_04 img {
    margin-top: -20px; }
  body.i18n-ger-de .reveal #how-to-use_06 .right-side h2 {
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 23px; }
  body.i18n-ger-de .reveal #how-to-use_06 .right-side p {
    margin: 0;
    padding: 0; }
  body.i18n-ger-de .reveal #how-to-use_06 .right-side button {
    width: auto;
    padding-right: 25px; }
  body.i18n-ger-de .reveal .helpPage h2 {
    line-height: 1.1; }
  body.i18n-ger-de .reveal .helpPage h2 .blue {
    font-size: 33px; }
  body.i18n-ger-de .reveal #stay-ahead_05 button {
    text-align: left;
    width: 310px; }
  body.i18n-ger-de .reveal #how-to-use_06 h2 .blue {
    font-size: 24px; }
  body.i18n-ger-de .reveal #home_01 h2 {
    font-size: 40px; }
  body.i18n-ger-de .reveal #learn-more_06 h2 .blue {
    font-size: 38px; }
  body.i18n-ger-de .reveal .helpPage p {
    margin-bottom: 7px; }
  body.i18n-ger-de .reveal #learn-more_06 #bubbleBlock .firstBubble a span {
    left: 79px; }
  body.i18n-ger-de .lightbox ol li:nth-child(4n) {
    display: none; }
  body.i18n-ger-de .reveal .contentPage h2 .blue {
    font-size: 38px; }
  body.i18n-ger-de .reveal #quiz_02 p {
    margin: 0; }
  body.i18n-ger-de ul li.leaf {
    padding: 0 10px; }
  body.i18n-ger-de .reveal #learn-more_06 #bubbleBlock .secondBubble .karenButton {
    margin-left: 127px; }
  body.i18n-ger-de .reveal #learn-more_06 #bubbleBlock .thirdBubble .samButton {
    margin-left: 168px; }
  body.i18n-ger-de .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#turn {
    background: url(img/turn-ger.png?123) left top no-repeat;
    background-size: contain; }
  body.i18n-ger-de .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#press {
    background: url(img/press-ger.png) left top no-repeat;
    background-size: contain; }
  body.i18n-ger-de .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#open {
    background: url(img/open-ger.png) left top no-repeat;
    background-size: contain; }
  body.i18n-ger-de .reveal .helpPage .col {
    padding-top: 55px; }
  body.i18n-ger-de nav .logoNav a {
    background-image: url(img/logo_spiriva-ger.jpg);
    background-size: cover; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body.i18n-ger-de {
      /* IE10+ specific styles go here */ }
      body.i18n-ger-de .bgdBubble {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        z-index: 1;
        display: block;
        background-color: #c5e7ef;
        opacity: 0.3; }
      body.i18n-ger-de .bgdBubble.big {
        width: 1000px;
        height: 1000px;
        animation: inherit; }
      body.i18n-ger-de .bgdBubble.first {
        top: -35% !important;
        right: -50%;
        animation: inherit; }
      body.i18n-ger-de .bgdBubble.second {
        top: -30% !important;
        right: -60%;
        animation: inherit; }
      body.i18n-ger-de .bgdBubble.third {
        left: 50%;
        transform: translateX(-50%);
        top: initial;
        bottom: -100px; }
      body.i18n-ger-de .bgdBubble.fourth {
        right: 15%; }
      body.i18n-ger-de .reveal #stay-ahead_05 .bgdBubble.first {
        right: -45%; }
      body.i18n-ger-de .reveal #stay-ahead_05 .bgdBubble.second {
        right: -50%; } }

/******************
		ES
*******************/
.reveal #learn-more_06 .jobCode.espEsOnly {
  display: none; }

body.i18n-esp-es nav {
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px; }
  body.i18n-esp-es nav li {
    height: 50px;
    padding: 0 10px !important; }
    body.i18n-esp-es nav li a:hover, body.i18n-esp-es nav li a:active, body.i18n-esp-es nav li a.active {
      color: #004282; }
    body.i18n-esp-es nav li a::selection {
      background: transparent; }
  body.i18n-esp-es nav .logoNav a {
    width: 130px;
    height: 40px;
    background-image: url(img/esp-es/logo.png);
    margin-top: 5px; }

body.i18n-esp-es .reveal #learn-more_06 .jobCode.espEsOnly {
  display: block; }

body.i18n-esp-es .reveal #learn-more_06 .jobCode {
  font-size: 11px;
  transform: rotate(-90deg);
  position: fixed;
  right: -290px;
  bottom: 350px;
  z-index: 10000;
  width: 500px;
  color: #7cd4df; }

body.i18n-esp-es .reveal .contentPage h2 .blue {
  font-size: 30px; }

body.i18n-esp-es .reveal .helpPage p {
  margin-bottom: 15px; }

body.i18n-esp-es .reveal .helpPage#exacerbations_04 img {
  margin-top: -14px; }

body.i18n-esp-es .reveal .helpPage h2 {
  margin-bottom: 8px; }

body.i18n-esp-es .reveal .helpPage .col {
  padding-top: 73px; }

body.i18n-esp-es .reveal #how-to-use_06 .right-side h2 .blue {
  font-size: 32px; }

body.i18n-esp-es .reveal #learn-more_06 .questions h3 {
  font-size: 15px; }

body.i18n-esp-es .reveal #learn-more_06 #bubbleBlock .secondBubble .karenButton {
  margin-left: 56px; }

body.i18n-esp-es .reveal #learn-more_06 #bubbleBlock .thirdBubble .samButton {
  margin-left: 100px; }

body.i18n-esp-es .reveal #learn-more_06 #bubbleBlock .firstBubble a span {
  left: 80px; }

body.i18n-esp-es .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#turn {
  background: url(img/esp-es/turn.png) left top no-repeat;
  background-size: contain; }

body.i18n-esp-es .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#press {
  background: url(img/esp-es/press.png) left top no-repeat;
  background-size: contain; }

body.i18n-esp-es .reveal #how-to-use_06 .left-side .radial-slide-block .use-element#open {
  background: url(img/esp-es/open.png) left top no-repeat;
  background-size: contain; }

body.i18n-esp-es .reveal #exacerbations_04 .scrollY {
  height: 450px;
  padding-right: 15px;
  margin-right: 15px; }

/********************/
body.i18n-eng-uk .nograph, body.i18n-eng-uk .onlygraph {
  margin-bottom: 10px; }

body.i18n-eng-uk .lightbox ol li.hidden.engUk-only {
  display: list-item; }

body.i18n-eng-uk nav li {
  padding: 0 10px !important; }

body.i18n-eng-uk .reveal .engUk-only {
  display: block; }

body.i18n-eng-uk .reveal #home_01 .footerEng {
  display: block;
  position: absolute;
  bottom: -5px;
  z-index: 100000;
  color: #3ca2af;
  font-size: 11px;
  right: 40px;
  font-family: arial;
  line-height: 16px;
  text-align: right;
  width: 100%; }

body.i18n-eng-uk .reveal #quiz_02 button.engUk-only {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  float: initial;
  margin-right: 15px;
  padding: 10px 25px 10px 20px;
  background: #7cd4df;
  margin-bottom: 5px; }
  body.i18n-eng-uk .reveal #quiz_02 button.engUk-only:hover {
    background: #7cd4df;
    background: -webkit-linear-gradient(legacy-direction(to left), #7cd4df, #aae7ef);
    background: linear-gradient(to left, #7cd4df, #aae7ef);
    text-decoration: none; }
  body.i18n-eng-uk .reveal #quiz_02 button.engUk-only:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 9px;
    right: 10px;
    top: 0;
    background-image: url(img/icon_arrowButton.png);
    background-repeat: no-repeat;
    background-position: right center; }

body.i18n-eng-uk .reveal #symptoms_03 h2 .blue {
  font-size: 29px; }

body.i18n-eng-uk .reveal #symptoms_03 img {
  width: 80%; }

body.i18n-eng-uk .reveal #exacerbations_04 img {
  width: 100%;
  margin-top: -55px; }

body.i18n-eng-uk .reveal #stay-ahead_05 p {
  margin-bottom: 20px; }

body.i18n-eng-uk .reveal #stay-ahead_05 p.engUk-only {
  font-size: 11px;
  color: #4d6070;
  margin-bottom: 0px;
  margin-top: 0; }

body.i18n-eng-uk .reveal #stay-ahead_05 button {
  width: initial; }

body.i18n-eng-uk .reveal .scrollY {
  height: 410px;
  padding-right: 15px;
  margin-right: 15px; }

/******ENG-GLO********/
body.i18n-eng-glo #referencesPopin .engGlo-only {
  display: list-item; }

@media screen and (max-width: 768px) {
  .pathNav {
    transform: translateX(-50%) scale(0.5);
    bottom: -40px; } }

@media screen and (min-width: 330px) and (max-width: 560px) {
  nav {
    padding: 0; }
    nav ul li {
      padding: 0px 10px; }
      nav ul li a, nav ul li span {
        font-size: 12px; } }

@media screen and (max-width: 445px) {
  nav {
    height: 45px;
    padding: 0; }
    nav .logoNav a {
      width: 102px !important;
      height: 31px !important; }
    nav ul.menu {
      padding-left: 0px !important; }
      nav ul.menu li {
        height: 45px !important;
        padding: 0px 6px !important; }
        nav ul.menu li a, nav ul.menu li span {
          font-size: 10px !important; } }
