.featherlight{
	.engGlo-only, .ersOnly{
		display:none;
	}
}

.reveal{
	.engUk-only, .ersOnly{
		display:none;
	}
	p.ersOnly{
		font-size: 11px;
		position: absolute;
		color: #72d1dd;
		text-align: left;
	}
}

.text-ersOnly{display:none;}
.lightbox ol li.list.ersOnly{display:none;}
.hide-onlyfor-ers{display:none;}
body.i18n-ers-eu {
.hide-onlyfor-ers{display:block;}
.text-ersOnly{font-size:11px; display:block;}
.hiden-on-answer{display:none !important;}
.lightbox ol li.ersOnly{display:list-item;}
.reveal #exacerbations_04 .scrollY{
		height: 400px;
	    padding-right: 15px;
        margin-right: 15px;
    }

	.ersOnly{
		display: block;
	}
	.ersNot{
		display: none;
	}
	nav ul li a, nav ul li a.active{
		color: #004282;
	}
	ul li.leaf{
		padding-right: 1.5em;
	}
	.reveal{
		#quiz_02{
			.contentCircle{
				margin-right: 20px;
				.circle{
					width: 200px;
					height: 200px;
				}
			}
			#contentLung1 .circle{
				background-image: url('img/ers-eu/lung-step1.jpg');
			}
			#contentLung2 .circle{
				background-image: url('img/ers-eu/lung-step2.jpg');
			}
			#contentLung3 .circle{
				background-image: url('img/ers-eu/lung-step3.jpg');
			}
			#contentLung4 .circle{
				background-image: url('img/ers-eu/lung-step4.jpg');
			}
			.twoCol .col{
				width: 60%;
				&.buttonSet2{
					width: 40%;
				}
			}
		}
		.helpPage{
			img{
				width: 80%;
			}
		}
		.helpPage#exacerbations_04{
			img{
				width: 80%;
				margin-top: 0;
			}
		}
		#how-to-use_06{
			.left-side{
				.radial-slide-block{
					.use-element{
						&#turn{
							background: url('img/ers-eu/turn.png?12') left top no-repeat; background-size: contain;
						}
						&#open{
							background: url('img/ers-eu/open.png?12') left top no-repeat; background-size: contain;
						}
						&#repeat{
							background: url('img/ers-eu/repeat.png?12') left top no-repeat; background-size: contain; 
						}
						&#press{
							background: url('img/ers-eu/press.png?12') left top no-repeat; background-size: contain; 
						}
					}
				}
			}
		}
		#learn-more_06{
			p.ersOnly{
				bottom: -40px;
			}
		}
	}
}

body.i18n-ger-de {
	/*.reveal .contentPage h2 .blue {font-size: 20px;}*/
	.reveal .helpPage#exacerbations_04 img{margin-top:-20px;}
	.reveal #how-to-use_06 .right-side h2 {margin-bottom: 15px; line-height: 1.2; font-size:23px;}
	.reveal #how-to-use_06 .right-side p{margin:0; padding:0;}
	.reveal #how-to-use_06 .right-side button{width: auto;  padding-right: 25px;}
	.reveal .helpPage h2{line-height:1.1;}
	.reveal .helpPage h2 .blue{font-size:33px;}
	.reveal #stay-ahead_05 button{text-align:left; width:310px;}
	.reveal #how-to-use_06 h2 .blue{font-size:24px;}
	.reveal #home_01 h2{font-size: 40px;}
	.reveal #learn-more_06 h2 .blue{font-size:38px;}
	.reveal .helpPage p{margin-bottom:7px;}
	.reveal #learn-more_06 #bubbleBlock .firstBubble a span{left:79px;}
	.lightbox ol li:nth-child(4n){display: none;}
	.reveal .contentPage h2 .blue{font-size:38px;}
	.reveal #quiz_02 p{margin:0;}
	ul li.leaf{padding:0 10px;}
	.reveal #learn-more_06 #bubbleBlock .secondBubble .karenButton{margin-left: 127px;}
	.reveal #learn-more_06 #bubbleBlock .thirdBubble .samButton{ margin-left: 168px;}
	.reveal #how-to-use_06 .left-side .radial-slide-block .use-element#turn{background: url(img/turn-ger.png?123) left top no-repeat; background-size: contain;}
	.reveal #how-to-use_06 .left-side .radial-slide-block .use-element#press{background: url(img/press-ger.png) left top no-repeat; background-size: contain;}
	.reveal #how-to-use_06 .left-side .radial-slide-block .use-element#open{background: url(img/open-ger.png) left top no-repeat; background-size: contain;}
	.reveal .helpPage .col{padding-top:55px;}
	nav .logoNav a{background-image: url(img/logo_spiriva-ger.jpg); background-size: cover;}

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	  /* IE10+ specific styles go here */
	  .bgdBubble {
	    width: 200px;
	    height: 200px;
	    border-radius: 100%;
	    position: absolute;
	    top: 50%;
	    z-index: 1;
	    display: block;
	    background-color: #c5e7ef;
	    opacity: 0.3; }
	    .bgdBubble.big {
	      width: 1000px;
	      height: 1000px;
	      animation: inherit; }
	    .bgdBubble.first {
	      top: -35% !important;
	      right: -50%;
	      animation: inherit; }
	    .bgdBubble.second {
	      top: -30% !important;
	      right: -60%;
	      animation: inherit; }
	    .bgdBubble.third {
	      left: 50%;
	      transform: translateX(-50%);
	      top: initial;
	      bottom: -100px; }
	    .bgdBubble.fourth {
	      right: 15%; }
	      .reveal #stay-ahead_05 .bgdBubble.first { right: -45%;}
	      .reveal #stay-ahead_05 .bgdBubble.second { right: -50%;}
      }
}

/******************
		ES
*******************/
.reveal #learn-more_06 .jobCode.espEsOnly{display: none;}
body.i18n-esp-es{
	nav{
		height: 60px;
		padding-top: 5px;
		padding-bottom: 5px;
		li{
			height: 50px;
			padding: 0 10px !important;
			a:hover, a:active, a.active{
				color: #004282;
			}
			a::selection{
				background: transparent;
			}
		}
		.logoNav a{
			width: 130px;
		    height: 40px;
		    background-image: url(img/esp-es/logo.png); 
		    margin-top: 5px;
		}
	}
	.reveal #learn-more_06 .jobCode.espEsOnly{display: block;}
	.reveal #learn-more_06 .jobCode {
	    font-size: 11px;
	    transform: rotate(-90deg);
	    position: fixed;
	    right: -290px;
	    bottom: 350px;
	    z-index: 10000;
	    width: 500px;
	    color: #7cd4df;
	}

	.reveal .contentPage h2 .blue{font-size:30px;}
	.reveal .helpPage p{margin-bottom:15px;}
	.reveal .helpPage#exacerbations_04 img{margin-top:-14px;}
	.reveal .helpPage h2{margin-bottom:8px;}
	.reveal .helpPage .col{padding-top:73px;}
	.reveal #how-to-use_06 .right-side h2 .blue{font-size:32px;}
	.reveal #learn-more_06 .questions h3{font-size:15px;}
	.reveal #learn-more_06 #bubbleBlock .secondBubble .karenButton{margin-left:56px;}
	.reveal #learn-more_06 #bubbleBlock .thirdBubble .samButton{margin-left:100px;}
	.reveal #learn-more_06 #bubbleBlock .firstBubble a span{left:80px;}
	.reveal #how-to-use_06 .left-side .radial-slide-block .use-element#turn{background: url(img/esp-es/turn.png) left top no-repeat; background-size: contain;}
	.reveal #how-to-use_06 .left-side .radial-slide-block .use-element#press{background: url(img/esp-es/press.png) left top no-repeat; background-size: contain;}
	.reveal #how-to-use_06 .left-side .radial-slide-block .use-element#open{background: url(img/esp-es/open.png) left top no-repeat; background-size: contain;}
	.reveal #exacerbations_04 .scrollY{
		height: 450px;
	    padding-right: 15px;
        margin-right: 15px;
    }
}


/********************/
body.i18n-eng-uk {
.nograph, .onlygraph{margin-bottom:10px;}
	.lightbox ol li.hidden.engUk-only{
		display: list-item;
	}
	nav li {
	    padding: 0 10px !important;
	}
	.reveal{
		.engUk-only{
			display: block;
		}
		#home_01{
			.footerEng{
			    display: block;
			    position: absolute;
			    bottom: -5px;
			    z-index: 100000;
			    color: #3ca2af;
			    font-size: 11px;
			    right: 40px;
			    font-family: arial;
			    line-height: 16px;
			    text-align: right;
			    width:100%;
			}
		}
		#quiz_02{
			button.engUk-only{
				color:#fff;
                text-decoration:none;
                font-size: 15px;
                float: initial;
                margin-right:15px;
                padding: 10px 25px 10px 20px;
                background: #7cd4df;
                margin-bottom:5px;
                &:hover{
                    @include linear-gradient(to left, #7cd4df, #aae7ef);
                    text-decoration: none;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 9px;
                    right: 10px;
                    top: 0;
                    background-image: url(img/icon_arrowButton.png);
                    background-repeat: no-repeat;
                    background-position: right center;
                }
			}
		}
		#symptoms_03{
			h2 .blue{
				font-size: 29px;
			}
			img{
				width:80%;
			}
		}
		#exacerbations_04 {
			img {
			    width: 100%;
			    margin-top: -55px;
			}
		} 
		#stay-ahead_05 {
			p{
				margin-bottom: 20px;
			}
			p.engUk-only{
				font-size: 11px;
			    color: #4d6070;
			    margin-bottom: 0px;
			    margin-top: 0;
			}

			button{
				width: initial;
			}
		}
		.scrollY{
			height: 410px;
		    padding-right: 15px;
	        margin-right: 15px;

		}
	}
}


/******ENG-GLO********/

body.i18n-eng-glo{

	#referencesPopin .engGlo-only{
	    display: list-item;
	}

}
