@media screen and (max-width: 768px){
	.pathNav {
	    transform: translateX(-50%) scale(0.5);
    	bottom: -40px;
	}
}

@media screen and (min-width: 330px) and (max-width: 560px){
	nav{
		padding: 0;
		ul{
			li{
				padding: 0px 10px;
				a, span{
					font-size: 12px;
				}
			}
		}
	}
}

@media screen and (max-width: 445px){
	nav{
		height: 45px;
		    padding: 0;
		.logoNav{
			a{
				width: 102px !important;
				height: 31px !important;
			}
		}
		ul.menu{
			padding-left: 0px !important;
			li{
				height: 45px !important;
				padding: 0px 6px !important;
				a, span{
					font-size: 10px !important;
				}
			}
		}
	}
}
