@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }
  
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

/// Mixin to put items on a circle
/// [1] - Allows children to be absolutely positioned
/// [2] - Allows the mixin to be used on a list
/// [3] - In case box-sizing: border-box has been enabled
/// [4] - Allows any type of direct children to be targeted
/// 
/// @param {Integer} $nb-items - Number or items
/// @param {Length} $circle-size - Container size
/// @param {Length} $item-size - Item size
/// @param {String | false} $class-for-IE - Base class name for old IE
@mixin distribute-on-circle( 
  $nb-items,
  $circle-size,
  $item-size,
  $class-for-IE: false
) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2 + 1);
  
  position: relative; /* 1 */
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none; /* 2 */ 
  box-sizing: content-box; /* 3 */ 
  
  > * { /* 4 */
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -$half-item;
  }
  
  $angle: (360 / $nb-items);
  $rot: -90;

  @for $i from 1 through $nb-items {
    @if not $class-for-IE {
      > :nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
      }
    } @else {
      > .#{$class-for-IE}#{$i} {
        // If CSS transforms are not supported
        $mt: sin($rot * pi() / 180) * $half-parent - $half-item;
        $ml: cos($rot * pi() / 180) * $half-parent - $half-item;
        margin: $mt 0 0 $ml;
      }
    }

    $rot: ($rot + $angle);
  }
}


/*******ANIMS****/
@-webkit-keyframes normalPulse {
   0%, 100% {-webkit-transform: scale(1);}
   66% {-webkit-transform: scale(1.04);}
}
 
@-moz-keyframes normalPulse {
   0%, 100% {-moz-transform: scale(1);}
   66% {-moz-transform: scale(1.04);}
}
 
@-o-keyframes normalPulse {
   0%, 100% {-o-transform: scale(1);}
   66% {-o-transform: scale(1.04);}
}
@keyframes normalPulse {
   0%, 100% {transform: scale(1);}
   66% {transform: scale(1.04);}
}

@-webkit-keyframes pulse {
   0%, 100% {-webkit-transform: scale(1) translateX(-50%);}
   66% {-webkit-transform: scale(1.04) translateX(-50%);}
}
 
@-moz-keyframes pulse {
   0%, 100% {-moz-transform: scale(1) translateX(-50%);}
   66% {-moz-transform: scale(1.04) translateX(-50%);}
}
 
@-o-keyframes pulse {
   0%, 100% {-o-transform: scale(1) translateX(-50%);}
   66% {-o-transform: scale(1.04) translateX(-50%);}
}
@keyframes pulse {
   0%, 100% {transform: scale(1) translateX(-50%);}
   66% {transform: scale(1.04) translateX(-50%);}
}
@-webkit-keyframes pulseX {
   0%, 100% {-webkit-transform: scale(1) translateX(-50%);}
   66% {-webkit-transform: scale(1.02) translateX(-50%);}
}
 
@-moz-keyframes pulseX {
   0%, 100% {-moz-transform: scale(1) translateX(-50%);}
   66% {-moz-transform: scale(1.02) translateX(-50%);}
}
 
@-o-keyframes pulseX {
   0%, 100% {-o-transform: scale(1) translateX(-50%);}
   66% {-o-transform: scale(1.02) translateX(-50%);}
}
@keyframes pulseX {
   0%, 100% {transform: scale(1) translateX(-50%);}
   66% {transform: scale(1.02) translateX(-50%);}
}

@-webkit-keyframes pulseY {
   0%, 100% {-webkit-transform: scale(1) translateY(-50%);}
   66% {-webkit-transform: scale(1.02) translateY(-50%);}
}
 
@-moz-keyframes pulseY {
   0%, 100% {-moz-transform: scale(1) translateY(-50%);}
   66% {-moz-transform: scale(1.02) translateY(-50%);}
}
 
@-o-keyframes pulseY {
   0%, 100% {-o-transform: scale(1) translateY(-50%);}
   66% {-o-transform: scale(1.02) translateY(-50%);}
}
@keyframes pulseY {
   0%, 100% {transform: scale(1) translateY(-50%);}
   66% {transform: scale(1.02) translateY(-50%);}
}

@-webkit-keyframes rotate {
   0% {-webkit-transform: rotate(0deg);}
   100% {-webkit-transform:rotate(180deg); ;}
}
 
@-moz-keyframes rotate {
   0% {-moz-transform: rotate(0deg);}
   100% {-moz-transform: rotate(360deg);}
}
 
@-o-keyframes rotate {
   0% {-o-transform: rotate(0deg);}
   100% {-o-transform: rotate(360deg);}
}
@keyframes rotate {
   0% {transform: rotate(0deg);}
   100% {transform: rotate(360deg);}
}