@import url("//hello.myfonts.net/count/328ca1");
 
@font-face {font-family: 'MyFontBoldItalic';src: url('webfonts/328CA1_0_0.eot');src: url('webfonts/328CA1_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/328CA1_0_0.woff2') format('woff2'),url('webfonts/328CA1_0_0.woff') format('woff'),url('webfonts/328CA1_0_0.ttf') format('truetype');}
   
@font-face {font-family: 'MyFontBook';src: url('webfonts/328CA1_1_0.eot');src: url('webfonts/328CA1_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/328CA1_1_0.woff2') format('woff2'),url('webfonts/328CA1_1_0.woff') format('woff'),url('webfonts/328CA1_1_0.ttf') format('truetype');}
  
@font-face {font-family: 'MyFontBold';src: url('webfonts/328CA1_2_0.eot');src: url('webfonts/328CA1_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/328CA1_2_0.woff2') format('woff2'),url('webfonts/328CA1_2_0.woff') format('woff'),url('webfonts/328CA1_2_0.ttf') format('truetype');}
  
@font-face {font-family: 'MyFontBookItalic';src: url('webfonts/328CA1_3_0.eot');src: url('webfonts/328CA1_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/328CA1_3_0.woff2') format('woff2'),url('webfonts/328CA1_3_0.woff') format('woff'),url('webfonts/328CA1_3_0.ttf') format('truetype');}


@font-face {font-family: 'MyriadPro';src: url('webfonts/MYRIADWEBPRO.TTF') format('truetype');}
@font-face {font-family: 'MyriadProItalic';src: url('webfonts/MYRIADWEBPRO-ITALIC.TTF') format('truetype');}
@font-face {font-family: 'MyriadProCondItalic';src: url('webfonts/MYRIADWEBPRO-CONDENSEDIT.TTF') format('truetype');}
@font-face {font-family: 'MyriadProCond';src: url('webfonts/MYRIADWEBPRO-CONDENSED.TTF') format('truetype');}
@font-face {font-family: 'MyriadProBold';src: url('webfonts/MYRIADWEBPRO-BOLD.TTF') format('truetype');}
  