$defaultColor: #4d6070;
$lightBlue : #72d1dd;
$defaultOrange : #f0903b;

.reveal{ 

    .col{
        float: left;
    }

    /****HOME****/
    #home_01{
        .slideContent{
            padding: 150px 322px 0;
            box-sizing: border-box;
        }
        h2{
            font-family: MyFontBook, Arial;
            text-transform:none;
            font-size: 43px;
            text-align: left;
            margin-bottom: 0;
            line-height: 1;
            margin-top: 40px;
            margin-bottom: 45px;
            span{
                font-family: MyFontBook, Arial;
                font-size: 30px;
                font-weight: normal;
            }
        }
        button{
            margin-top: 10px;
            width: initial;
            margin: auto;
            padding-left: 15px;
            padding-right: 25px;
        }
        .bubbleHome{
            z-index:1; 
            border:0; 
            margin: 15px 0px; 
            background: none; 
            box-shadow: none; 
            float:left;
            position:absolute; 
            top:40px; 
            left:50%; 
            transform: translateX(-50%); 
            max-width:inherit; 
            width: 544px; 
            height: 544px;
            max-height:inherit;
            img{
                max-width: 100%;
            }
            .imgBubble{
                position:absolute;
                z-index: 4;
            }
            .imgProduct{
                position:absolute;
                z-index: 5;
                bottom: -100px;
                left: -150px;
            }
            .whiteBubble{
                width:600px ;
                height:600px ;
                display: block;
                background-image:url('img/whiteBubble.png');
                background-size:cover;
                position:absolute;
                left: -120px;
                bottom: -50px;
                 animation: normalPulse 7s infinite;
                 -webkit-animation: normalPulse 7s infinite;
                 -moz-animation: normalPulse 7s infinite;
                 -o-animation: normalPulse 7s infinite;
                &.second{
                    width:585px ;
                    height:585px ;
                    left: 0px;
                    bottom: -40px;
                }
            }
        }
    }


    /**** QUIZ ***/
    #quiz_02{

        .hidden{
            display: none!important;
        }
        h2{
            margin-bottom: 20px;
            margin-top: 60px;
        }
        p{
            font-size:14px;
            color:#4d6070;
            margin-top: 0;
            text-align: left;
        }
        .contentCircle{
            position:relative;
            display: inline-block;
            margin-right: 70px;
            margin-top: 20px;
            &:last-child{
                margin-right: 0;
            }
            h3{
                font-size: 18px; 
                text-align: center;
                text-transform: none;
                color:#4d6070;
                font-weight: normal;
                margin-top: 15px;
            }
        }

        .jsSeeData, .jsSeeVisual{
            cursor: pointer;
        }

        .jsSeeData.hidden{
            display: none;
        }

        .jsSeeData.active{
            display: block;
        }

        .falseAnswer{
                top: -18px;
                position: absolute;
                color: #f1a8b7;
                font-size: 12px;
                z-index: 2;
                font-family: MyFontBook, Arial;
            div{
                background-image:url('img/icon_false.png');
                background-size: cover;
                background-repeat: no-repeat;
                bottom: -14px;
                background-color: #f1a8b7;
                width: 16px;
                border-radius: 25px;
                height: 16px;
                position: absolute;
                color: #ffffff;
                text-align: center;
            }
        }

        .circle {
            width: 250px;
            height: 250px;
            background: url(img/lung/step1_0.jpg);
            background-size:cover;
            background-position: center;
            margin: 0;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            z-index: 100;
            .lung{
                width: 250px;
                height: 250px;
                display: block;
                position: absolute;
                opacity: 0;
                background-size:cover;
                background-position: center;
            }
        }
        #contentLung1 .circle{
            background-image: url(img/lung/step2_8-9.jpg);
        }
        #contentLung2 .circle{
            background-image: url(img/lung/step3_28-5.jpg);
        }
        #contentLung3 .circle{
            background-image: url(img/lung/step7_51.jpg);
        }


        .circle .lung.step1 {
            background-image: url(img/lung/step1_0.jpg); z-index: 2;
            opacity: 1;
        }
        .step2 {
            background: url(img/lung/step2_8-9.jpg); z-index: 3;
        }
        .step3 {
            background: url(img/lung/step3_28-5.jpg); z-index: 4;
        }
        .step4 {
            background: url(img/lung/step5_40.jpg); z-index: 5;
        }
        .step5 {
            background: url(img/lung/step7_51.jpg); z-index: 7;
        }
        .step6 {
            background: url(img/lung/step8_60.jpg); z-index: 8;
        }
        .step7 {
            background: url(img/lung/step9_70.jpg); z-index: 9;
        }
        .step8 {
            background: url(img/lung/step10_80.jpg); z-index: 10;
        }
        .step9 {
            background: url(img/lung/step11_90.jpg); z-index: 11;
        }
        .step10 {
            background: url(img/lung/step12_100.jpg); z-index: 12;
        }

        .contentCircle{
            &.seeAnswer{
                .slider {
                    .ui-widget-header{
                        background-color:#5dd0b0;
                    }
                    .ui-state-default{
                        background-color:#5dd0b0;
                    }
                }
            }
        }

        .slider {
            width: 250px;
            font-size: 10px;
            margin: 60px auto 0;
            background: #d4f0f4;
            &.ui-slider-disabled{
                opacity: 1;
            }
            .ui-widget-header{
                background: #72d1dd;
                border-radius: 20px;
            }
            .ui-state-default{
                background: rgb(114, 209, 221);
                border: none;
                border-radius: 100%;
                width: 0em;
                height: 0em;
                .cursor{
                    display: table-cell;
                    position: absolute;
                    width: 42px;
                    height: 49px;
                    background-image:url('../images/master/cursor_slider.png');
                    background-repeat:no-repeat;
                    top: -55px;
                    left: -15px;
                    vertical-align: middle;
                    text-align: center;
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    box-sizing: border-box;
                    padding-top: 12px;
                }
                .cursorGreen{
                    background-image:url('../images/master/cursor_slider_green.png?123456');
                }
            }
            .startPourcentage{
                position: absolute;
                top: -15px;
                left: 0;
            }
            .endPourcentage{
                position: absolute;
                top: -15px;
                right: -15px;
            }
        }
        
        
        @mixin fillRotation(){
             @for $i from 0 through 100 {
                @if $i < 51{
                    $angle : 180 + ( 180 / 50 * $i );
                    &.pourcentage-#{$i} .bar{
                        transform: rotate(#{$angle}deg);

                    }
                } @else {
                    $angle : 360 + ( 180 / 50 * ($i - 50) );
                    &.pourcentage-#{$i}{
                        clip: rect(0,260px,260px,0);
                    }
                    &.pourcentage-#{$i} .bar{
                        transform: rotate(#{$angle}deg);
                    }
                    &.pourcentage-#{$i} .fill{
                        position: absolute;
                        top:0;
                        left:0;
                         clip: rect(0,135px,260px,0);
                        width:250px;
                        height:250px;
                        border-radius: 50%;
                        border:5px solid #7cd4df;
                        transform: rotate(0deg);
                    }
                }
             }
        }

        .circleProgress {
            position: absolute;
            top: -5px;
            left: -5px;
            clip: rect(0,135px,260px,0);
            width:260px;
            height:260px;
            transform: rotate(180deg);
            @include fillRotation();
        }
        .bar {
            position: absolute;
            top:0px;
            left:0px;
            clip: rect(0,125px,260px,0);
            width:250px;
            height:250px;
            border-radius: 50%;
            border:5px solid #7cd4df;
            transform: rotate(0deg);
        }

        .twoCol{
            width: 100%;
            display: block;
            float: left;
            .col{
                width: 50%;
                display: block;
                float: left;
                p.small{
                    font-size: 12px;
                    sup{
                        font-size: 100% !important;
                    }
                }
                a{
                    color:#fff;
                    text-decoration:none;
                    font-size: 15px;
                    float: right;
                    margin-right:15px;
                    padding: 10px 25px 10px 20px;
                    background: #7cd4df;
                    &:hover{
                        @include linear-gradient(to left, #7cd4df, #aae7ef);
                        text-decoration: none;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        height: 100%;
                        width: 9px;
                        right: 10px;
                        top: 0;
                        background-image: url(img/icon_arrowButton.png);
                        background-repeat: no-repeat;
                        background-position: right center;
                    }
                }
                button{
                    width: initial; 
                    padding-right: 25px;
                    float: right;
                }
            }
        }
        #answer{
            /**display: none;
            opacity: 0;**/
        } 
    }

    /****PAGE HELP*****/
    .helpPage{
        .col{
            &:first-child{
                width: 55%;
            }
            &:last-child{
                width: 45%;
                padding-left:20px;
            }
            width: 50%;
            padding-top: 85px;
            float: left;
            box-sizing:border-box;

            .helpProfil{
                width: 100%;
                min-height: 180px;
                display: block;
                background-repeat: no-repeat;
                font-size: 13px;
                box-sizing:border-box;
                cursor: pointer;
                button span{ 
                    display: none;
                }
                &.first{
                    background-image: url('img/bgdKaren.png');
                    top: 270px;
                    padding: 12px 0px 0 132px;
                    text-align: right;
                    margin-bottom: 20px;
                }
                &.second{
                    background-image: url('img/bgdJulia.png');
                    right: 0;
                    padding: 12px 0px 0 132px;
                    text-align: right;
                    top: 40px;
                }
                .quote{
                    background-image: url('img/quoteBgd.png');
                    background-repeat:no-repeat;
                    background-position: right top;
                    color:#373a4b;
                    font-size: 16px;
                    padding-top: 35px;
                    p{
                        margin-bottom: 5px;
                        text-align: right;
                        &.bottom{
                            font-size: 12px;
                            strong{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            button.absolute{
                position:absolute;
                bottom:150px;
                right: 0;
                width:initial;
                font-size: 16px;
                padding-right: 25px;
            }
        }
        h2{
            color:#f78f35;
            font-family: MyFontBook, Arial;
            text-transform:none;
            font-size: 30px;
            text-align: left;
            margin-bottom: 15px;
            line-height: 1;
            .blue{
                color:#004282;
                font-size: 38px;
            }
        }
        p{
            font-family: MyFontBook, Arial;
            color:#4d6070;
            font-size: 14px;
            text-align: left;
            margin-bottom: 15px;
            margin-top: 0;
            sup{
                font-size: 65%;
            }  
            &.small{
                font-size: 12px;
            }
        }
        img{
            width: 100%;
            margin:0;
        }
        .halo1{
            left: 540px;
            top: 40%;
        }

        .halo2{
            left: 590px;
            top: 12%;
        }
        &#exacerbations_04{
            img{
                width: 100%;
                margin-top: -70px;
            }
            .helpProfil{
                &.first{
                    background-image:url('img/bgdJames.png');
                }
                &.second{
                    background-image:url('img/bgdSam.png');
                }
            }
            
        }
    }
    /********/
    #stay-ahead_05{
        .col{
            width: 50%;
            padding-top: 30px;
            float: left;
            text-align: left;
            .product_img_shadow{
                position: absolute;
                bottom : 211px;
                left : 63px;
            }
        }
        h2{
        color:#f78f35;
        font-family: MyFontBook, Arial;
        text-transform:none;
        font-size: 30px;
        text-align: left;
        margin-bottom: 30px;
        margin-top: 55px;
        line-height: 1;
            .blue{
                color:#004282;
                font-size: 40px;
            }
        }
        ul{
            display: table;
            margin-left: 0;
            li{
                font-size: 13px;
                text-decoration: none;
                color: #4d6070;
                font-family: MyFontBook, Arial;
                list-style: none;
                margin-bottom: 25px;
                height: 50px;
                vertical-align: middle;
                width: 100%;
                position: relative;
                display: table-row;
                vertical-align: middle;
                
                span{
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 65px;
                    background-size: 50px;
                    background-repeat: no-repeat;
                    background-position: left center;
                    padding-top:20px;
                    padding-bottom:20px;
                }
                &.clock{
                    span{
                        background-image: url('img/icon_clock.png'); 
                    }
                }
                &.cross{
                    span{
                        background-image: url('img/icon_cross.png'); 
                    }
                }
                &.hand{
                    span{
                        background-image: url('img/icon_hand.png'); 
                    }
                }
                &.poumons{
                    span{
                        background-image: url('img/icon_poumons.png'); 
                    }
                }
                &.door{
                    span{
                        background-image: url('img/icon_door.png'); 
                    }
                }
                &.cloud{
                    span{
                        background-image: url('img/icon_cloud.png'); 
                    }
                }
            }   
        }
        p{
            font-size: 16px;
            margin-bottom: 40px;
            strong{
                font-weight:normal;
                color: #ff9012; 
            }
        }
        button{
            width: 290px;;
            padding-right:25px;
        }
        .bgdBubble{
            &.first{
                right: -45%;
            }
            &.second{
                top: 45%;
                right: -50%;
            }
        }
    }

    /********/
    #how-to-use_06{
        .col{
            float: left;
        }
        .left-side{
            width: 530px;
            .joiner-point{
                position: absolute;
                left: 270px;
                width: 4px;
                height: 3px;
                top: 640px;
            }
            .radial-inner{
                width: 424px;
                height: 424px;
                border-radius: 204px;
                top: 137px;
                left: 51px;
                border: 1px dashed #72d1dd;
                position: absolute;
                z-index: 0;
            }
            .radial-background{
                background: rgba(246, 252, 252, 0.5);
                width: 470px;
                height: 470px;
                border-radius: 239px;
                top: 115px;
                left: 29px;
                position: absolute;
                z-index: -1;
            }
            .radial-slide-block{
                    width: 470px;
                    height: 470px;
                    margin-top: 3em;
                    border-radius: 7em;
                    margin-left: 0;
                .use-element{
                    list-style: none;
                    position: absolute;
                    z-index: 3;
                    width: 110px;
                    height: 110px;
                    background-color: #c2eaf0;
                    cursor: pointer;
                    border-radius: 54px;
                    -webkit-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
                    -moz-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
                    -o-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
                    transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
                    .number{
                        left: 97px;
                        position: absolute;
                        background-color: $lightBlue;
                        border-radius: 23px;
                        padding: 5px 9px 5px;
                        font-size: 10px;
                        top: -18px;
                        transition: left 1.2s, top 1.2s, font-size 1.2s, padding 1.2s;
                        }
                    .slide-info{
                        opacity: 0;
                        display: none;
                        width: 371px;
                        margin-left: 237px;
                        padding-top:10px;
                        top: 0;
                        p:first-child{
                            font-size: 24px;
                            color: $lightBlue;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }
                        p:nth-child(2){
                            color: $defaultOrange;
                            font-size: 16px;
                            font-weight: bold;
                            margin-bottom: 5px;
                            margin-top: 0;
                        }
                        p:last-child{
                            font-size: 14px;
                            color: $defaultColor;
                            margin-bottom: 0;
                            margin-top: 0;
                        }

                    }
                    &.zoom-in{
                        width: 220px;
                        height: 220px;
                        -webkit-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
                        -moz-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
                        -o-transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
                        transition: width 1.2s, height 1.2s, margin-left 1.2s, margin-top 1.2s;
                    }
                    &.zoom-in .number{
                        top: 6px;
                        left: 197px;
                        transition: left 1.2s, top 1.2s, font-size 1.2s, padding 1.2s;
                        padding: 6px 14px 5px;
                        font-size: 20px;
                    }
                    &#turn{
                        margin-left: 415px;
                        margin-top: 175px;
                        background: url(img/turn.png?123)left top no-repeat;
                        background-size: contain;
                        &.zoom-in{
                            margin-left: 302px;
                            margin-top: 140px;
                        }
                    }
                    &#open{
                        margin-left: 185px;
                        margin-top: -41px;
                        background: url(img/open.png)left top no-repeat;
                        background-size: contain;
                        &.zoom-in{
                            margin-left: 133px;
                            margin-top: -72px;
                        }
                    }
                    &#press{
                        margin-top: 185px;
                        margin-left: -50px;
                        background: url(img/press.png)left top no-repeat;
                        background-size: contain;
                        &.zoom-in{
                            margin-top: 123px;
                            margin-left: -56px;
                        }
                    }
                    &#repeat{
                        background: url(img/repeat.png)left top no-repeat;
                        background-size: contain;
                        margin-top: 413px;
                        margin-left: 185px;
                        &.zoom-in{
                            margin-top: 312px;
                            margin-left: 126px;
                        }
                    }
                }

            }
        }
        .right-side{
                width: 424px;
                box-sizing: border-box;
                padding-left: 42px;
            h2{
                color: #f78f35;
                font-family: MyFontBook, Arial;
                text-transform: none;
                font-size: 26px;
                text-align: left;
                margin-bottom: 50px;
                margin-top: 80px;
                line-height: 1;
                    &.blue{
                    color: #004282;
                    font-size: 40px;
                    margin-top: 0;
                }
            }
            p{
                color: $defaultColor;
                font-size: 14px; 
                text-align: left;
            }
            button{
                margin-top: 18em;
                width: 140px;
            }
        }
    }

    /****PAGE HELP*****/
    #learn-more_06{
        .contentPage{
            padding-top:60px;
        }
        
        .questions{
            width: 960px;
            margin: auto;
            h3{
                color: $defaultColor;
                font-size: 18px;
                text-transform: none;
                text-align: center;
                margin-bottom: 0;
            }

            .col{
                border-bottom : 1px dashed #a5e3eb;
                margin-top: 10px;
                box-sizing: border-box;
                padding: 10px 20px 20px;
                display: block;
                float: left;
                text-align: left;
                &:first-child{
                    width: 313px;
                }
                &:last-child{
                    margin-left: 40px;
                    width: 605px;
                }
            } 

        }

        #bubbleBlock{
            button.noHover:hover{
                background: initial;
                background: #f0903b;
                background: -webkit-linear-gradient(legacy-direction(to right), #f0903b, #f0903b);
                background: linear-gradient(to right, #f0903b, #f0903b);
            }
            clear: left;
            margin-top: 4em;
            .firstBubble{
                width: 343px;
                height: 334px;
                position: relative;
                a{
                    display: block;
                    position: absolute;
                    width: 310px;
                    height: 310px;
                    border-radius: 160px;
                    z-index: 2;
                    span{
                        font-family: MyFontBook, Arial;
                        color: #fff;
                        position: absolute;
                        font-size: 14px;
                        top: 221px;
                        z-index: 100;
                        left: 96px;
                    }
                }
                img{
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    display: block;
                    /* height: 386px; */
                    width: 375px;
                    max-width: none;
                }
            }
            .secondBubble{
                width : 305px;
                height: 305px;
                border-radius: 159px;
                position: relative;
                overflow: hidden;
                background: url('img/bubble-bg2.png')center center no-repeat;
                button, a{
                    display: block;
                    position: absolute;
                    cursor: pointer;
                }
                .jamesButton{
                    width: initial;
                    margin-top: 103px;
                    margin-left: 80px;
                    padding-left: 15px;
                    padding-right: 25px;
                    opacity: 0.95;
                }
                .karenButton{
                    width: initial;
                    margin-top: 227px;
                    margin-left: 91px;
                    z-index: 3;
                    text-align: left;
                    opacity: 0.95;
                    padding-left: 15px;
                    padding-right: 25px;
                }
                .jamesImage{
                    left: -34px;
                    top: 40px;
                    z-index: 2;
                }
                .karenImage{
                    margin-left: 147px;
                    margin-top: 147px;
                    z-index: 4;
                    width: 182px;
                }
            }
            .thirdBubble{
                width : 305px;
                height: 305px;
                border-radius: 159px;
                position: relative;
                overflow: hidden;
                background: url('img/bubble-bg2.png')center center no-repeat;
                button, a{
                    display: block;
                    position: absolute;
                    cursor: pointer;
                }
                .juliaButton{
                    width: initial;
                    margin-top: 220px;
                    margin-left: 120px;
                    z-index: 1;
                    opacity: 0.95;
                    padding-left: 15px;
                    padding-right: 25px;
                }
                .samButton{
                   width: initial;
                    margin-top: 103px;
                    margin-left: 135px;
                    padding-left: 15px;
                    padding-right: 25px;
                    z-index: 0;
                    opacity: 0.95;
                }
                .juliaImage{
                    left: 34px;
                    top: 148px;
                    z-index: 4;
                }
                .samImage{
                    margin-left: 136px;
                    margin-top: 49px;
                    z-index: 1;
                    width: 200px;
                }
            }

            .col{
                float: left;
            }
        }

        h2{
            color:#f78f35;
            font-family: MyFontBook, Arial;
            text-transform:none;
            font-size: 30px;
            text-align: left;
            margin-bottom: 30px;
            line-height: 1;
                sup{
                    font-size:50%;
                }
                .blue{
                    color:#004282;
                    font-size: 40px;
                }
        }
        a.go{
            position:absolute;
            right: -13px;
            top:50%;
            width:27px ;
            height:27px ;
            background-image:url('img/conclusion_icon.png');
            background-repeat:no-repeat;
            z-index: 10;
        }
        .product{
            position:absolute;
            top: -30px;
            left: 100px;
        }
        .spc{
            position:absolute;
            top: 130px;
            left: 90px;
        }
    }

    .backgrounds{
        @include linear-gradient(to left, #c5e7ef, #ffffff); 
    }

}

#prescribingPopin{
    a{
        width: 200px;
        text-decoration: none;
    }
}