body{
	padding-top:0 !important;
}
.reveal {
	span.hidden{
		display:none;
	}
	.contentPage{
		h2{
		    color:#f78f35;
		    font-family: MyFontBook, Arial;
		    text-transform:none;
		    font-size: 30px;
		    text-align: left;
		    margin-bottom: 30px;
		    line-height: 1;
		    .blue{
		        color:#004282;
		        font-size: 40px;
		    }
		}
	}
	sub{
		font-size: 50% !important;
	}
}
.lightbox ol li.hidden {display:none;}


sup{
	font-size: 80% !important;
}
h2{
	sup{
		font-size: 50% !important;
	}
}
nav{
	height:80px; 
	width:100%;
	box-sizing: border-box;
	padding: 0 40px; 
	display:block; 
	position:fixed; 
	top:0; 
	left:0; 
	background-color:#fff;
	z-index:100;
	.logoNav{
		display: block;
		float: left;
		a{
			width: 182px;
			height: 80px;
			display: block;
			background-image: url('img/logo_spiriva.jpg');
			background-size: cover;
			float: left;
			text-decoration: none;
		}
		
	}
	.contentNav{
		max-width: 1100px;
		display: block;
		margin: auto;
	}
	ul{
		float: right;
		max-width: 1100px;
		margin: auto;
		li{
			list-style: none;
			display: table-cell;
			font-family: MyFontBook, Arial;
			color:#004282;
			font-size: 14px;
			height: 80px;
			vertical-align: middle;
			padding: 0 10px;
			a{
				color:#004282;
				font-size: 14px;
				text-decoration: none; 
			}
		}
	} 
}
body .featherlight .featherlight-content{
	background-image:url('img/bgd_popin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 90%;
    padding: 65px 65px 0;
}
.lightbox{
	display: none;
	font-family: MyFontBook, Arial;
    height: 80vh;

	h2{
		color:#004282;
        font-family: MyFontBook, Arial;
        text-transform:none;
        font-size: 40px;
        text-align: left;
        margin-bottom: 20px;
        margin-top: 0;
        line-height: 1;
            sup{
                font-size:50%;
            }
            .orange{
                color:#f78f35;	
                font-size: 30px;
            }
    }
    p{
    	font-size: 16px;
    	line-height: 1.3;
    	color: #4d6070;
    	strong{
    		font-family: MyFontBold, Arial;
    	}
    }
    ol{
    	margin-left: 0;
	    padding-left: 15px;
    }
    ol li{
    	font-size: 16px;
    	color: #4d6070;
    	margin-bottom: 10px;
    	line-height:23px;
    }
    ol li.hidden{display:none;}

}

.pathNav{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -30px ;
	height: 100px;
	z-index: 10;
	  background-image: url('img/arrow_pathnav.png');
  background-repeat: no-repeat;
  background-position: center top 55px;
  ul li{
  	cursor: pointer; 
  }
}



.circle-container {
  @include distribute-on-circle(12, 130px, 13px, false); 
  margin:  0;
  border: dashed 1px #ffffff;
  li span { 
	  background-color: #ff9012;
	  border: 2px solid #ffffff; 
	  display: block; 
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
	  box-sizing: border-box;
	}
	li.active{
		height:18px ;
		width: 18px;
		span{
			background-color: #ffffff;
		  	border: 4px solid #ff9012; 
		}
	} 
}

.reveal{
	section{
	    height: 100%;
		.slideContent{
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
		}
		.contentPage{
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
			
		}
		img{
			border:none !important; 
			background: none !important; 
			box-shadow: none !important; 
		}

	}

	.profilPage{
		.bubbleContent{
			background-image: url(img/bgd_bubble.png);
			background-repeat: no-repeat;
			background-size: cover;
			width: 395px;
			height: 395px;
			font-size: 16px;
			line-height: 1.5;
			text-align: right;
			display: table-cell;
			padding: 140px 100px 0 120px;
			box-sizing: border-box;
			position: absolute;
			z-index: 2;
			left: 120px;
			top:60px;
			font-family: MyFontBook, Arial;

			
			&.second{
				width:285px;
				height: 285px;
				padding: 100px 50px 0 50px;
				top: 350px;
				left: 340px;
				z-index: 1;
				

			}
		}
	}
}

.lightbox .lightbox-button{
	width: initial;
	button{
		width: initial;
		padding:12px 30px;
	}
}

.reveal, .lightbox{

	button, a.button{
	    font-family: MyFontBook, Arial;
	    font-size: 14px;
	    color:#ffffff;
	    display: block;
	    @include linear-gradient(to right, #f0903b, #f0903b);
	    border: 0;
	    padding: 12px;
	    position: relative;
	    cursor: pointer;
	    line-height: 100%;
	    text-align: center;
	    &:after{
		    content:'';
		    display:block;
		    position: absolute;
		    height: 100%;
		    width: 9px;
		    right: 10px;
		    top: 0;
			background-image: url('img/icon_arrowButton.png'); 
			background-repeat: no-repeat;
			background-position: right center;
	    }
	    &:hover{
	    	@include linear-gradient(to right, #ffa252, #e66b00);
	        color:#ffffff;
	    }
	}
}


.bottomHome{
    display: block;
    position: fixed;
    bottom: -1970px;
    left: 0;
    width: 2796px;
    height: 3000px;
    z-index: 2;
    background-image: url(img/bottomHome.png?12345);
    background-repeat: no-repeat;
    background-position: center top;
    left: 50%;
    transform: translateX(-50%); 
}

.bgdBubble{
	width: 200px;
	height: 200px;
	border-radius: 100%; 
	position: absolute;
	top: 50%;
	z-index:1;
	display: block;
	background-color: #74d2dd;
	opacity: 0.1;
	
	&.big{
		width: 1000px;
		height: 1000px;
		animation: pulseY 7s;
		 -webkit-animation: pulseY 3s infinite;
		 -moz-animation: pulseY 3s infinite;
		 -o-animation: pulseY 3s infinite;
	}
	&.first{
		top:45% !important;
		right: -50%;
		animation: pulseY 7s infinite;
		 -webkit-animation: pulseY 3s infinite;
		 -moz-animation: pulseY 3s infinite;
		 -o-animation: pulseY 3s infinite;
	}
	&.second{
		top:45% !important;
		right: -60%;
		animation: pulseY 7s infinite;
		 -webkit-animation: pulseY 3s infinite;
		 -moz-animation: pulseY 3s infinite;
		 -o-animation: pulseY 3s infinite;
	}
	&.third{
		left: 50%;
		transform: translateX(-50%);
		top: initial;
    	bottom: -100px;
	}
	&.fourth{
		right: -62px;
		top: 519px;
	}
	&.small{
		background-color: #f78f35;
    	width: 65px;
    	height: 65px;
    	right: 200px;
    	top: 643px;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */ 
   .bgdBubble{
	width: 200px;
	height: 200px;
	border-radius: 100%; 
	position: absolute;
	top: 50%;
	z-index:1;
	display: block;
	background-color: #74d2dd;
	opacity: 0.1;
	
	&.big{
		width: 1000px;
		height: 1000px;
		animation: inherit;
	}
	&.first{
		top:-25% !important;
		right: -50%;
		aanimation: inherit;
	}
	&.second{
		top:-25% !important;
		right: -60%;
		animation: inherit;
	}
	&.third{
		left: 50%;
		transform: translateX(-50%);
		top: initial;
    	bottom: -100px;
	}
	&.fourth{
		right: -62px;
		top: 519px;
	}
	&.small{
		background-color: #f78f35;
    	width: 65px;
    	height: 65px;
    	right: 200px;
    	top: 643px;
	}
}
}
.halo1{
	width: 60px;
    height: 60px;
    border-radius: 100%;
    left: 290px;
    position: absolute;
    top: 55%;
    z-index: 1;
    display: block;
    background-color: #f0903b;
    opacity: 0.1;
    animation: pulse 7s infinite;
		 -webkit-animation: pulse 3s infinite;
		 -moz-animation: pulse 3s infinite;
		 -o-animation: pulse 3s infinite;
}

.halo2{
	width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 59%;
    left: 340px;
    z-index: 1;
    display: block;
    background-color: #fff;
    opacity: 0.3;
    animation: pulse 7s infinite;
		 -webkit-animation: pulse 3s infinite;
		 -moz-animation: pulse 3s infinite;
		 -o-animation: pulse 3s infinite;
}



